#{extends './homeTemplate.html' /}
#{set subtab:'users' /}
#{set title:'Groups Users' /}
	
<h4>Members</h4>
    
<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Type</th>
	        <th>Role</th>
	        <th>Robot Api Keys</th>
	    </tr>
	</thead>
	<tbody>
	    #{list groupDbo.children, as:'mapping'}
	        <tr>
	            <td><a href="@{userEdit(groupDbo.name,mapping.entity.type,mapping.entity.name)}">${mapping.entity.name}</a></td>
	            <td>${mapping.entity.typeString}</td>
	            <td>${mapping.permission}</td>
	            #{if mapping.entity.typeString == 'Robot' && mapping.ownRobot}
		            <td>${mapping.entity.apiKey}</td>
	            #{/if}
	            #{else}
	            	<td></td>
	            #{/else}
	        </tr>
	    #{/list}
	</tbody>
</table>

    <a href="@{userAdd(groupDbo.name, 'user')}" class="btn btn-primary">Add user</a>
    <a href="@{userAdd(groupDbo.name, 'robot')}" class="btn btn-primary">Create robot</a>