#{extends './homeTemplate.html' /}
#{set subtab:'resources' /}
#{set title:'Group Resources' /}

<h4>Resources in this Group(first 50 shown)</h4>
	
	Resources is either tables or databases this group has access to.  If a database is listed, this
	group has access to all the tables in that database.
<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	    </tr>
	</thead>
	<tbody>
	    #{list resources, as:'resource'}
	        <tr>
	            <td><a href="@{gui.MyDatabases.viewDatabase(resource.resource.name)}">${resource.resource.name}</a></td>
	        </tr>
	    #{/list}    	    
	</tbody>
</table>	

