#{extends '/main_body_container.html' /}
#{set title:'My Groups' /}
#{set tab:'home' /}

<style>
	.apikey { margin: auto; padding: 10px; background-color:#00aa00; max-width: 900px; }
	.key    { margin: auto; padding: 5px; background-color:#00ff00; }
</style>

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 4. If you have many databases and you don't want to add a user to each database every time, simply create a group and then<br/>
   give this group access to all your databases(or just some of them) and you can just add the user to the group once for each user<br/>
   Step 5. Next, please click on My Databus -> Charts
</div>
%{
    }
}%

<h1 class="db_page_title">My Groups</h1>

<p>These are the groups you have access to.  Each group may have access to multiple schemas or tables.</p>
     
<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	    </tr>
	</thead>
	<tbody>
	    #{list user.parentGroups, as:'mapping'}
	        <tr>
	            <td><a href="@{gui.MyGroups.groupProperties(mapping.group.name)}">${mapping.group.name}</a></td>
	        </tr>
	    #{/list}
	    #{else}
	    <tr>
			<td colspan=2>You do not belong to any groups yet.  <a href="@{gui.MyGroups.editGroup(null)}">Add a Group Now!!!</a></td>
		</tr>
	    #{/else}
	</tbody>
</table>
  
<p>
  	<a href="@{gui.MyGroups.groupProperties(null)}" class="btn btn-primary">Add Group</a>
</p>
  
