#{extends '/main_body_container.html' /}
#{set tab:'home' /}
#{set title:'Add/Edit User' /}

#{form @postUser(group, type, false), id:'edituser', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
    <legend>Edit User</legend>
    
    <div class="control-group">
        <label class="control-label">User name</label>
        <div class="controls">
        	<input type="text" class="inputtext" name="targetUser.id" value="${targetUser.id}" readonly="readonly">
        </div>
	</div>

	#{xfield objectId:'isAdmin',label:'Membership Type', help:'IF the user is an Admin he can add/remove users to/from the group', length:'50'}
		#{generic field}
			#{select 'isAdmin', value:isAdmin, id:'select1'}
				#{option true}Group Admin#{/option}
				#{option false}Member#{/option}
			#{/select}
		#{/generic}
	#{/xfield}

    <div class="control-group">
       <div class="controls">
		  <input type="submit" name="submit" value="Save" class="btn btn-primary" />
		  <a href="javascript:history.back()" class="btn">Cancel</a>
	   </div>
	</div>
#{/form}
