
.pilltree li {
    margin: 0px 0;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0px 5px;
}
.pilltree li::before {
    content:'';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 1px solid #888;
    bottom: 50px;
}
.pilltree li::after {
    content:'';
    position: absolute;
    top: 30px;
    width: 25px;
    height: 20px;
    right: auto;
    left: -20px;
    border-top: 1px solid #888;
}
.pilltree li a {
    display: inline-block;
    border: 1px solid #888;
    padding: 5px 10px;
    text-decoration: none;
    color: #ddd;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;    
	cursor: default;
}
/*Remove connectors before root*/
 .pilltree > ul > li::before, .pilltree > ul > li::after {
    border: 0;
}
/*Remove connectors after last child*/
 .pilltree li:last-child::before {
    height: 30px;
}
/*Time for some hover effects*/

/*We will apply the hover effect the the lineage of the element also*/
 .pilltree li a:hover, .pilltree li a:hover+ul li a {
    background: #c8e4f8;
    color: #fff;
    border: 1px solid #94a0b4;
}

.innerpilltree li a:hover, .pilltree li a:hover+ul li a {
    background: #c8e4f8;
    color: #555;
    border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
 .pilltree li a:hover+ul li::after, .pilltree li a:hover+ul li::before, .pilltree li a:hover+ul::before, .pilltree li a:hover+ul ul::before {
    border-color: #94a0b4;
    color: #555;
}

.pilltree_selected {
    color: #fff !important;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}