
#{extends 'main.html' /}
#{set title:'Edit Table' /}
#{set tab:'mydata' /}

<style>
	#apikey { margin: auto; padding: 10px; background-color:#00aa00; max-width: 640px; }
	#key    { margin: auto; padding: 5px; background-color:#00ff00; }
</style>


<div id="noputonstack"></div>

	<h2>Edit ${targetTable.typeOfData.prettyName} Table '${targetTable.tableName}'</h2>

<div class="content clearfix">
#{form @MyStuff.postTable(group), id:'edittable'}
<input type="hidden" name="targetTable.tableName" value="${targetTable?.tableName}">

	#{xfield objectId:'targetTable.description',label:'Table Description', help:'Some help message'}
		#{textarea field:field, rows:15, cols:100/}
	#{/xfield}
	
    <br/>		
	#{include 'Application/singleTableMeta.html'/}
			
		<br>
	<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
		<input type="submit" name="submit" value="Save" class="button" />
		<a href="javascript:history.back()" class="button">Cancel</a>
	</div>
#{/form}


</div>


