#{extends 'main.html' /}
#{set title:'Add Table' /}
#{set tab:'mydata' /}

<div id="noputonstack"></div>

	<h2>Add Table</h2>

<div class="content clearfix">
#{form @MyStuff.postTable(group), id:'edittable'}

	#{xfield objectId:'targetTable.tableName',label:'Table Name', help:'Some help message'}
		#{text field:field, length:50/}
	#{/xfield}

	<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
		<input type="submit" name="submit" value="Save" class="button" />
		<a href="javascript:history.back()" class="button">Cancel</a>
	</div>
#{/form}
</div>
