#{extends 'main.html' /}
#{set title:'Add User to Schema' /}
#{set tab:'mydata' /}

<div id="noputonstack"></div>

	<h2>Add User</h2>

<div class="content clearfix">


		<table border="1" class="data" cellpadding="5" cellspacing="0">
		<thead>
		    <tr>
		        <th>User Name</th>
		        <th>Add User?</th>
		    </tr>
		</thead>
		<tbody>
		    #{list users, as:'user'}
		        <tr>
		            <td>${user.username}</td>
		            <td><a href="@{MyStuff.userAddToSchema(schema.schemaName, user.username)}">Add User To ${schema.schemaName}</a></td>
		        </tr>
		    #{/list}
		</tbody>
	</table>

	<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
		<input type="submit" name="submit" value="Save" class="button" />
		<a href="javascript:history.back()" class="button">Cancel</a>
	</div>

</div>
