<!-- FixedHeaderTree component -->
<script type="text/javascript" src="/public/javascripts/components/fixedheadertable/jquery.fixedheadertable.js"></script>
<script type="text/javascript" src="/public/javascripts/components/fixedheadertable/lib/jquery.mousewheel.js"></script>
<link href="/public/javascripts/components/fixedheadertable/css/defaultTheme.css" rel="stylesheet"/>
<link href="/public/javascripts/components/fixedheadertable/css/databusSummaryTheme.css" rel="stylesheet"/>

#{if userCharts.size() > 0}
	<div class="span12">
		<table id="mycharts_table" class="fancyDarkTable" style="margin-top: -35px !important;  margin-bottom: 5px;">
	          <thead>
	            <tr>
	              <th>Chart Name</th>
	              <th>Chart Type</th>
	              <th>Chart Library</th>
	              <th>Chart URI</th>
	            </tr>
	          </thead>
	          <tbody>
	          	#{list userCharts, as:'chart'}
				<tr>
					<td style="padding-top: 1px;">
						<span class="db_chart_list_td_contents">
							<a>${chart.chartName}</a>
						</span>
					</td>
					<td>
						<span class="db_chart_list_td_contents">
							${chart.chartType}
						</span>
					</td>
					<td>
						<span class="db_chart_list_td_contents">
							${chart.chartLibrary}
						</span>
					</td>
					<td>
						<span id="chart_url_${chart_index}" class="db_chart_list_td_contents">
							${chart.getTruncatedChartURI(50)}						
						</span>
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
#{/if}
#{else}
	<div class="span12">
		There are no charts in your chart list.
	</div>
#{/else}

<script type="text/javascript">
	$('#mycharts_table').fixedHeaderTable({ footer: false, altClass: 'odd', cloneHeadToFoot: false, height: 205, fixedColumn: false });
</script>