<!-- FOR DEBUG -->
<!--<html><body>
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script type="text/javascript" src="/public/bootstrap/js/bootstrap.js"></script>
<link href="/public/bootstrap/themes/proto2/proto2.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/bootstrap/themes/proto2/proto2.js"></script>-->
<!-- ********* -->

<!-- HighCharts -->
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/highstock.js"></script>

<!-- FixedHeaderTree component -->
<script type="text/javascript" src="/public/javascripts/components/fixedheadertable/jquery.fixedheadertable.js"></script>
<script type="text/javascript" src="/public/javascripts/components/fixedheadertable/lib/jquery.mousewheel.js"></script>
<link href="/public/javascripts/components/fixedheadertable/css/defaultTheme.css" rel="stylesheet"/>
<link href="/public/javascripts/components/fixedheadertable/css/databusSummaryTheme.css" rel="stylesheet"/>

<script type="text/javascript">
	var userCharts = [];
	
	#{list userCharts, as:'chart'}										
		var userChart = {};
		userChart.chartName = "${chart.chartName}";
		userChart.chartType = "${chart.chartType}";
		userChart.url = "${chart.getTrueChartURI()}";
		
		userCharts.push(userChart);									
	#{/list}
	
	var selectedChartName = "";
</script>

#{if userCharts.size() == 0}
<div class="row-fluid">
	<div class="span12" style="margin-left: 0px;">
		There are no charts in your Charts List.
	</div>
</div>
#{/if}
#{else}
<div class="row-fluid">
	<div class="span12" style="margin-left: 0px;">
		There are ${userCharts.size()} charts in your Charts List.
	</div>
</div>
<div class="row-fluid">
	<div class="span12" style="margin-left: 0px;">
		<table id="mycharts_table" class="fancyDarkTable" style="margin-top: -40px !important;  margin-bottom: 5px;">
	          <thead>
	            <tr>
	              <th>Chart Name</th>
	              <th>Chart Type</th>
	              <th>Chart Library</th>
	              <th>Chart URI</th>
	            </tr>
	          </thead>
	          <tbody id="mycharts_table_body">
	          	#{list userCharts, as:'chart'}
				<tr id="${chart_index}">
					<td style="padding-top: 1px;">
						<span class="db_chart_list_td_contents">
							<a>${chart.chartName}</a>
						</span>
					</td>
					<td>
						<span class="db_chart_list_td_contents">
							${chart.chartType}
						</span>
					</td>
					<td>
						<span class="db_chart_list_td_contents">
							${chart.chartLibrary}
						</span>
					</td>
					<td>
						<span id="chart_url_${chart_index}" class="db_chart_list_td_contents">
							${chart.getTruncatedChartURI(50)}						
						</span>
					</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>
#{form @postSaveScriptChartSettings(), id:'modifychartsettings'}
<div id="modify_chart_div" class="row-fluid" style="margin-top: 20px; display: none;">
	<div class="span6" style="margin-left: auto; margin-right: auto;">
		<div class="row-fluid">
			<div id="embedded_chart_div" style="display: none;">
				<table class="table-condensed" style="width: 95%;">
					<tbody>
						<tr>
							<td class="db_settings_label_td table-bordered">
								Chart Name:
							</td>
							<td class="db_settings_input_td table-bordered">
								<span id="embedded_chart_name" style="width: 100%;"></span>
							</td>
						</tr>
						<tr>
							<td class="db_settings_label_td table-bordered">
								URL:
							</td>
							<td class="db_settings_input_td table-bordered">
								<input id="embedded_chart_url" type="text" placeholder="" style="width: 100%; margin-bottom: 0px; height: 25px; font-size: 12px;" disabled>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="script_chart_div" style="display: none;">
				<table class="table-condensed" style="width: 95%;">
					<tbody>
						<tr>
							<td class="db_settings_label_td table-bordered" style="white-space: nowrap;">
								Chart Script:
							</td>
							<td class="db_settings_input_td table-bordered" style="padding-left: 0px;">
								<span id="script_chart_filename" style="white-space: nowrap; font-size: 12px;"></span>
							</td>
						</tr>
						<tr>
							<td class="db_settings_label_td table-bordered" style="white-space: nowrap;">
								Chart Name:
							</td>
							<td class="db_settings_input_td table-bordered" style="padding-left: 0px;">
								<input id="script_chart_name" name="script_chart_name"  type="text" placeholder="Enter a chart name..." style="width: 100%; margin-bottom: 0px; height: 25px; font-size: 12px;">
							</td>
						</tr>
						<tr>
							<td class="db_settings_label_td table-bordered" style="white-space: nowrap;">
								Chart Title:
							</td>
							<td class="db_settings_input_td table-bordered" style="padding-left: 0px;">
								<input id="script_chart_title" name="script_chart_title" type="text" placeholder="Enter a chart title..." style="width: 100%; margin-bottom: 0px; height: 25px; font-size: 12px;">
							</td>
						</tr>
						<tr>
							<td class="db_settings_label_td table-bordered" style="white-space: nowrap;">
								Chart DB:
							</td>
							<td class="db_settings_input_td table-bordered" style="padding-left: 0px;">
								<input id="script_chart_db" name="script_chart_db" type="text" placeholder="Enter a DB URL..." style="width: 100%; margin-bottom: 0px; height: 25px; font-size: 12px;">
							</td>
						</tr>
						<tr>
							<td></td>
							<td style="margin-right: 0px; padding-right: 0px; padding-left: 0px;">
								<a id="test_script_chart" class="btn" style="height: 20px; font-size: 12px; float: right; margin-right: -10px;">Test</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row-fluid">
			<div class="controls" style="margin-top: 70px; margin-left: 10px;">
				<input id="modify_chart_submit" type="submit" name="submit" value="Modify Chart" class="btn btn-primary" />
				<a id="delete_chart_button" class="btn" data-toggle="modal" href="#deleteModal">Delete Chart</a>
				<a id="cancel_view_chart" class="btn">Cancel</a>
			</div>
		</div>
		<div class="modal hide" id="deleteModal">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">x</button>
				<h3>Delete Chart</h3>
			</div>
			<div class="modal-body">
				<p id="delete_chart_content"></p>
			</div>
			<div class="modal-footer">
				<a id="delete_chart_confirm_button" href="#" class="btn btn-primary" data-dismiss="modal">Delete</a>
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</div>
	</div>
	<div class="span6" style="margin-left: auto; margin-right: auto;">
		<div id="chartlist_chart_preview" style="height: 300px; margin-left: auto; margin-right: auto;"></div>
	</div>
</div>
#{/form}
#{/else}

<script type="text/javascript">
	$('#mycharts_table').fixedHeaderTable({ footer: false, altClass: 'odd', cloneHeadToFoot: false, height: 161, fixedColumn: false });
	
	$('#mycharts_table_body tr').click(function() {
		$("#mycharts_table_body td").each(function() {
			$(this).removeClass("mychart_td_selected");
		});
		
		var selectedIndex = $(this).attr('id');
		selectedChartName = "";
		
		var tds = $(this).find('td');
		
		tds.each(function() {
			$(this).addClass('mychart_td_selected');
		});
		
		/**
		 * Now run the chart
		 */
		if($.isNumeric(selectedIndex)) {
			var thisUserChart = userCharts[(selectedIndex - 1)];
			selectedChartName = thisUserChart.chartName;
			
			$("#modify_chart_div").show();
			
			if(thisUserChart.chartType === 'EMBEDDED_OBJECT') {
				$('#embedded_chart_div').show();
				$('#script_chart_div').hide();
				$('#modify_chart_submit').hide();
				
				$('#embedded_chart_name').html(thisUserChart.chartName);
				$('#embedded_chart_url').val(thisUserChart.url);				
			} else if(thisUserChart.chartType === 'SCRIPT') {
				$('#embedded_chart_div').hide();
				$('#script_chart_div').show();
				$('#modify_chart_submit').show();	
				
				//"HighStock_TimeSeries_Updating-30s_GREEN.js&amp;override_db=/api/firstvaluesV1/__COUNT__/rawdataV1/D73937893phaseRealPower_log1m?reverse=true&amp;override_title=D73937893phaseRealPower_log1m"
				var scriptURL = thisUserChart.url;
				
				var scriptFileName = scriptURL.replace(/^(.*js)\&.*/, '$1');
				
				var scriptParams = scriptURL.replace(scriptFileName, '').replace('&amp;', '');
				var params = scriptParams.split('&amp;');
				
				var scriptDB = "";
				var title = "";
				
				for(var i = 0; i < params.length; i++){
					if(params[i].indexOf('override_db=') != -1) {
						scriptDB = params[i].replace('override_db=', '');
					}
					if(params[i].indexOf('override_title=') != -1) {
						title = params[i].replace('override_title=', '');
					}
				}
				
				$('#script_chart_filename').html(scriptFileName);
				$('#script_chart_name').val(thisUserChart.chartName);
		    		$('#script_chart_title').val(title);
				$('#script_chart_db').val(scriptDB);
			} else {
				return;
			}
			
			loadChart(thisUserChart.chartType, thisUserChart.url, 'chartlist_chart_preview', 300);
		}
	});
	
	$('#test_script_chart').click(function() {
		var chartFileName = $('#script_chart_filename').html();
		
		var scriptChartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chartFileName + "&div=chartlist_chart_preview";
		
		var override_name = $('#script_chart_name').val();
		if(override_name != '') {
			scriptChartURL += "&override_name=" + fixedEncodeURIComponent(override_name);
		}
		
		var override_title = $('#script_chart_title').val();
		if(override_title != '') {
			scriptChartURL += "&override_title=" + fixedEncodeURIComponent(override_title);
		}
		
		var override_db = $('#script_chart_db').val();
		if(override_db != '') {
			scriptChartURL += "&override_db=" + fixedEncodeURIComponent(override_db);
		}
		
		$.get(scriptChartURL, function(scriptChartRawData) {
			var scriptChartData = new Function (scriptChartRawData);
			scriptChartData();
		});
	});
	
	$('#delete_chart_button').click(function() {
		$('#delete_chart_content').html('Are you sure you want to delete chart "' + selectedChartName + '"?');
	});
	
	$('#delete_chart_confirm_button').click(function() {
		var deleteChartURL = "@{gui.MySettings.deleteChart()}";
		
		$.post(deleteChartURL, { 'chartToDelete': selectedChartName } );
		
		$('#cancel_view_chart').click();
	});
	
	$('#cancel_view_chart').click(function() {
		$('#embedded_chart_name').html('');
		$('#embedded_chart_url').html('');
		$('#script_chart_filename').html('');
		$('#script_chart_name').val('');
    		$('#script_chart_title').val('');
		$('#script_chart_db').val('');
		selectedChartName = "";
		
		$('#chartlist_chart_preview').html('');
		
		$("#modify_chart_div").hide();
	});
	
	function loadChart(chartType, chartURI, chartDiv, chartHeight) {
		$(function () {
			var loadImageMarginTop = "20px";
			if(chartHeight == 600) {
				loadImageMarginTop = "150px";
			}
			$('#' + chartDiv).html('<img src="/public/images/chart_loading.gif" style="height: 300px; display: block; margin-left: auto; margin-right: auto; margin-top: ' + loadImageMarginTop + ';"/>');
			
			if(chartType === 'EMBEDDED_OBJECT') {
				var embeddedChartURL = chartURI + "?divname=" + chartDiv + "&height=" + chartHeight;
				embeddedChartURL = embeddedChartURL.replace("/charts/chart/", "/charts/jschart/"); 
				
				$.get(embeddedChartURL, function(embeddedChartRawData) {
					var embeddedChartData = new Function (embeddedChartRawData);
					embeddedChartData();
				});
			} else if(chartType === 'SCRIPT') {
				var chartURI_escaped = decodeURIComponent(chartURI).replace('&amp;', '&');
				
				var scriptChartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chartURI_escaped + "&div=" + chartDiv;
				
				$.get(scriptChartURL, function(scriptChartRawData) {
					var scriptChartData = new Function (scriptChartRawData);
					scriptChartData();
				});
			} else if(chartType === 'BLANK') {
				$('#' + chartDiv).addClass('dashboardBlankChart');
				$('#' + chartDiv).html('<img src="/public/images/BlankDashboard.png" height="' + chartHeight + 'px" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px;"/>')
			}
		});
	}
	
	function fixedEncodeURIComponent (str) {
	  return encodeURIComponent(str).replace(/[!'()]/g, escape).replace(/\*/g, "%2A");
	}
</script>

<!-- FOR DEBUG -->
<!--</body></html>-->
<!-- ********* -->