<!-- FOR DEBUG -->
<!--<html><body>
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script type="text/javascript" src="/public/bootstrap/js/bootstrap.js"></script>-->
<!-- ********* -->

<script type="text/javascript">
	%{
		showDashboard = false;
		if(dashboard_enabled.equals("true")) {
			showDashboard = true;
		}
	}%
			
	var _dashboard_enabled = '${showDashboard}';
	var _option_enabled = ${dashboard_chart_count};
	
	var chart_1 = '${user_chart_1}';
	var chart_1_type = '${user_chart_1_type}';
	var chart_1_uri = '${user_chart_1_uri}';
	var chart_2 = '${user_chart_2}';
	var chart_2_type = '${user_chart_2_type}';
	var chart_2_uri = '${user_chart_2_uri}';
	var chart_3 = '${user_chart_3}';
	var chart_3_type = '${user_chart_3_type}';
	var chart_3_uri = '${user_chart_3_uri}';
	var chart_4 = '${user_chart_4}';
	var chart_4_type = '${user_chart_4_type}';
	var chart_4_uri = '${user_chart_4_uri}';
	
	
	var scriptCharts = [];
	
	#{list userCharts, as:'chart'}										
		var scriptChart = {};
		scriptChart.chartName = "${chart.chartName}";
		scriptChart.chartType = "${chart.chartType}";
		scriptChart.url = "${chart.chartURI}";
		
		scriptCharts.push(scriptChart);										
	#{/list}
</script>

#{form @postSaveAccountSettings(), id:'savesettings'}
	<div class="row-fluid">
    		<div class="span3">
			<fieldset>
				<label class="checkbox">
					<input type="checkbox" id="dashboard_enabled" name="dashboard_enabled" checked>
					<span id="dashboard_enabled_text">Dashboard Enabled</span>
				</label>
				<br />
				<div id="dashboard_controls">
			    		<label>
			    			Number of Dashboard Charts &nbsp;
						<select id="dashboard_chart_count" class="span3" name="dashboard_chart_count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</label>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submit" value="Save" class="btn btn-primary" />
						<a href="javascript:history.back()" class="btn">Cancel</a>
					</div>
				</div>
			</fieldset>
		</div>
	  	<div class="span9" id="dashboard_chart_area" style="margin: 10px">
	  			<div id="single_chart" style="display: none;">
		    			#{dashboardCharts/singlechart /}
		    			
					<legend style="padding-top:50px;"  id="choose_charts_legend_option1">
						Choose a Chart
					</legend>
					<div style="clear: both; margin-left: 250px;" id="choose_charts_option1">
						Dashboard Chart #1: &nbsp;
						<select id="dashboard_chart1_select" name="dashboard_chart1_select">
						<option>BLANK</option>
						#{list userCharts, as:'chart'}
							<option>${chart.chartName}</option>
						#{/list}
						</select>
					</div>
		    		</div>
		    		<div id="dual_chart" style="display: none;">
		    			#{dashboardCharts/dualchart /}
					<legend style="padding-top:50px;" id="choose_charts_legend_option2">
						Choose your Charts
					</legend>
					<div class="row-fluid" id="choose_charts_option2">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span class="span6">
								Dashboard Chart #1: &nbsp;
								<select id="dashboard_chart2_select" name="dashboard_chart2_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #2: &nbsp;
								<select id="dashboard_chart3_select" name="dashboard_chart3_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
						</div>
					</div>
		    		</div>
		    		<div id="triple_chart" style="display: none;">
		    			#{dashboardCharts/threecharts /}
		    			<legend style="padding-top:50px;" id="choose_charts_legend_option3">
							Choose your Charts
						</legend>
					<div class="row-fluid" id="choose_charts_option3">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span class="span6">
								Dashboard Chart #1: &nbsp;
								<select id="dashboard_chart4_select" name="dashboard_chart4_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #2: &nbsp;
								<select id="dashboard_chart5_select" name="dashboard_chart5_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
					    </div>
					    <div class="span12" style="clear: both; margin-left: 25px; padding-top:25px;">
					    		<span class="span6">
								Dashboard Chart #3: &nbsp;
								<select id="dashboard_chart6_select" name="dashboard_chart6_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
						</div>
					</div>
		    		</div>
		    		<div id="quadruple_chart" style="display: none;">
		    			#{dashboardCharts/fourcharts /}
		    			<legend style="padding-top:50px;" id="choose_charts_legend_option3">
						Choose your Charts
					</legend>
					<div class="row-fluid" id="choose_charts_option4">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span class="span6">
								Dashboard Chart #1: &nbsp;
								<select id="dashboard_chart7_select" name="dashboard_chart7_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #2: &nbsp;
								<select id="dashboard_chart8_select" name="dashboard_chart8_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
					    </div>
					    <div class="span12" style="clear: both; margin-left: 25px; padding-top:25px;">
					    		<span class="span6">
								Dashboard Chart #3: &nbsp;
								<select id="dashboard_chart9_select" name="dashboard_chart9_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #4: &nbsp;
								<select id="dashboard_chart10_select" name="dashboard_chart10_select">
									<option>BLANK</option>
									#{list userCharts, as:'chart'}
										<option>${chart.chartName}</option>
									#{/list}
								</select>
							</span>
						</div>
					</div>
		    		</div>
		</div>
#{/form}

<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/highstock.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/exporting.js"></script>

<!-- Our HighCharts code -->
<!--<script src="/public/javascripts/charts.js" type="text/javascript"></script>
<link href="/public/stylesheets/charts.css" rel="stylesheet" type="text/css">-->

<script type="text/javascript">
		$(document).ready(function() {
			$('#dashboard_chart_count').val(_option_enabled);
			
			if(_dashboard_enabled === 'true') {
				$('#dashboard_enabled').prop('checked', true);
				$('#dashboard_enabled_text').text("Dashboard Enabled");
				
				$('#dashboard_controls').show();
				$('#dashboard_chart_area').show();
				
				showChartSelection(_option_enabled);   
			} else {
				$('#dashboard_enabled').prop('checked', false);
				$('#dashboard_enabled_text').text("Dashboard Disabled");
				
				$('#dashboard_controls').hide();
				$('#dashboard_chart_area').hide();
			}
			
			/**
			 * Load up all the selects just in case they change the
			 * # of dashboards.
			 */
			$('#dashboard_chart1_select').val(chart_1);
			$('#dashboard_chart2_select').val(chart_1);
			$('#dashboard_chart3_select').val(chart_2);
			$('#dashboard_chart4_select').val(chart_1);
			$('#dashboard_chart5_select').val(chart_2);
			$('#dashboard_chart6_select').val(chart_3);
			$('#dashboard_chart7_select').val(chart_1);
			$('#dashboard_chart8_select').val(chart_2);
			$('#dashboard_chart9_select').val(chart_3);
			$('#dashboard_chart10_select').val(chart_4);
		});
		
		$('#dashboard_enabled').click(function () {
			if ($(this).is(':checked')) {
				$('#dashboard_enabled_text').text("Dashboard Enabled");
				
				$('#dashboard_controls').show();
				$('#dashboard_chart_area').show();
				
				showChartSelection(_option_enabled); 
			} else {
				$('#dashboard_enabled_text').text("Dashboard Disabled");
				
				$('#dashboard_controls').hide();
				$('#dashboard_chart_area').hide();
			}
		});
		
		$('#dashboard_chart_count').change(function() {
			var chart_count = parseInt($("#dashboard_chart_count :selected").text());
			showChartSelection(chart_count);
		});
		
		function showChartSelection(count) {
			$(function () {				 
				switch(count) {
					case 1: {
						_option_enabled = 1;
						$('#single_chart').show();
						$('#dual_chart').hide();
						$('#triple_chart').hide();
						$('#quadruple_chart').hide();
						
						// Now launch the chart
						if(chart_1 === 'BLANK') {				
							loadChart('BLANK', 'BLANK', 'chart_1_area', 500);
						} else {
							loadChart(chart_1_type, chart_1_uri, 'chart_1_area', 500);
						}
						
						break;
					}
					case 2: {
						_option_enabled = 2;
						$('#single_chart').hide();
						$('#dual_chart').show();
						$('#triple_chart').hide();
						$('#quadruple_chart').hide();
						
						// Now launch the charts
						if(chart_1 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_2_area', 250);
						} else {
							loadChart(chart_1_type, chart_1_uri, 'chart_2_area', 250);
						}
						
						if(chart_2 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_3_area', 250);
						} else {
							loadChart(chart_2_type, chart_2_uri, 'chart_3_area', 250);
						}
						break;
					}
					case 3: {
						_option_enabled = 3;
						$('#single_chart').hide();
						$('#dual_chart').hide();
						$('#triple_chart').show();
						$('#quadruple_chart').hide();
						
						// Now launch the charts
						if(chart_1 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_4_area', 250);
						} else {
							loadChart(chart_1_type, chart_1_uri, 'chart_4_area', 250);
						}
						
						if(chart_2 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_5_area', 250);
						} else {
							loadChart(chart_2_type, chart_2_uri, 'chart_5_area', 250);
						}
						
						if(chart_3 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_6_area', 250);
						} else {
							loadChart(chart_3_type, chart_3_uri, 'chart_6_area', 250);
						}
						break;
					}
					case 4: {
						_option_enabled = 4;
						$('#single_chart').hide();
						$('#dual_chart').hide();
						$('#triple_chart').hide();
						$('#quadruple_chart').show();
			
						// Now launch the charts
						if(chart_1 === 'BLANK') {					
							loadChart('BLANK', 'BLANK', 'chart_7_area', 250);
						} else {
							loadChart(chart_1_type, chart_1_uri, 'chart_7_area', 250);
						}
						
						if(chart_2 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_8_area', 250);
						} else {
							loadChart(chart_2_type, chart_2_uri, 'chart_8_area', 250);
						}
						
						if(chart_3 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_9_area', 250);
						} else {
							loadChart(chart_3_type, chart_3_uri, 'chart_9_area', 250);
						}
						
						if(chart_4 === 'BLANK') {
							loadChart('BLANK', 'BLANK', 'chart_10_area', 250);
						} else {
							loadChart(chart_4_type, chart_4_uri, 'chart_10_area', 250);
						}
						break;
					}
				}
			});
		}
				
		// Option 1
		$('#dashboard_chart1_select').change(function() {
			$("#chart_1_area").show();
			$("#chart_1_area").empty();
			$("#chart_1_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart1_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_1_area', 500);
			} else {
				var selectedIndex = $("#dashboard_chart1_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_1_area', 500);
			}
		});
		
		// Option 2
		$('#dashboard_chart2_select').change(function() {
			$("#chart_2_area").show();
			$("#chart_2_area").empty();
			$("#chart_2_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart2_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_2_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart2_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(scriptChart.chartType, scriptChart.url, 'chart_2_area', 250);
			}
		});
		
		$('#dashboard_chart3_select').change(function() {
			$("#chart_3_area").show();
			$("#chart_3_area").empty();
			$("#chart_3_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart3_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_3_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart3_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_3_area', 250);
			}
		});
		
		// Option 3
		$('#dashboard_chart4_select').change(function() {
			$("#chart_4_area").show();
			$("#chart_4_area").empty();
			$("#chart_4_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart4_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_4_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart4_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_4_area', 250);
			}
		});
		
		$('#dashboard_chart5_select').change(function() {
			$("#chart_5_area").show();
			$("#chart_5_area").empty();
			$("#chart_5_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart5_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_5_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart5_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_5_area', 250);
			}
		});
		
		$('#dashboard_chart6_select').change(function() {
			$("#chart_6_area").show();
			$("#chart_6_area").empty();
			$("#chart_6_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart6_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_6_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart6_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_6_area', 250);
			}
		});
		
		// Options 4
		$('#dashboard_chart7_select').change(function() {
			$("#chart_7_area").show();
			$("#chart_7_area").empty();
			$("#chart_7_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart7_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_7_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart7_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_7_area', 250);
			}
		});
		
		$('#dashboard_chart8_select').change(function() {
			$("#chart_8_area").show();
			$("#chart_8_area").empty();
			$("#chart_8_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart8_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_8_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart8_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_8_area', 250);
			}
		});
		
		$('#dashboard_chart9_select').change(function() {
			$("#chart_9_area").show();
			$("#chart_9_area").empty();
			$("#chart_9_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart9_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_9_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart9_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_9_area', 250);
			}
		});
		
		$('#dashboard_chart10_select').change(function() {
			$("#chart_10_area").show();
			$("#chart_10_area").empty();
			$("#chart_10_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart10_select :selected").text();
			
			if(chart == 'BLANK') {
				loadChart('BLANK', 'BLANK', 'chart_10_area', 250);
			} else {
				var selectedIndex = $("#dashboard_chart10_select").prop("selectedIndex");
				var thisScriptChart = scriptCharts[(selectedIndex - 1)];
		
				loadChart(thisScriptChart.chartType, thisScriptChart.url, 'chart_10_area', 250);
			}
		});
		
		function loadChart(chartType, chartURI, chartDiv, chartHeight) {
			$(function () {
				$('#' + chartDiv).html('');
				$('#' + chartDiv).removeClass( 'dashboardBlankChart' );
			
				if(chartType === 'EMBEDDED_OBJECT') {
					var embeddedChartURL = chartURI + "?divname=" + chartDiv + "&height=" + chartHeight;
					embeddedChartURL = embeddedChartURL.replace("/charts/chart/", "/charts/jschart/"); 
					
					$.get(embeddedChartURL, function(embeddedChartRawData) {
						var embeddedChartData = new Function (embeddedChartRawData);
						embeddedChartData();
					});
				} else if(chartType === 'SCRIPT') {
					var scriptChartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chartURI + "&div=" + chartDiv;
					
					$.get(scriptChartURL, function(scriptChartRawData) {
						var scriptChartData = new Function (scriptChartRawData);
						scriptChartData();
					});
				} else if(chartType === 'BLANK') {
					/*
					var blankChartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chartURI + "&div=" + chartDiv;
					
					$.get(blankChartURL, function(blankChartRawData) {
						var blankChartData = new Function (blankChartRawData);
						blankChartData();
					});
					*/
					
					$('#' + chartDiv).addClass('dashboardBlankChart');
					$('#' + chartDiv).append('<img src="/public/images/BlankDashboard.png" height="' + chartHeight + 'px" style="display: block; margin-left: auto; margin-right: auto;"/>')
				}
			});
		};
</script>

<!-- FOR DEBUG -->
<!--</body></html>-->
<!-- ********* -->