#{extends '/main_body_container.html' /}
#{set title:'My Account' /}
#{set tab:'' /}

<script type="text/javascript">
	%{
		showDashboard = false;
		if(dashboard_enabled.equals("true")) {
			showDashboard = true;
		}
	}%
			
	var _dashboard_enabled = '${showDashboard}';
	var _option_enabled = ${dashboard_chart_count};
	
	var chart_1 = '${user_chart_1}';
	var chart_2 = '${user_chart_2}';
	var chart_3 = '${user_chart_3}';
	var chart_4 = '${user_chart_4}';
</script>

<div class="container db_container">
	<h1 class="db_page_title">My Settings</h1>
	<br />
	<legend>
		Dashboard
	</legend>
	
	#{form @postSaveAccountSettings(), id:'savesettings'}
	<div class="row-fluid">
    		<div class="span3">
			<fieldset>
				<label class="checkbox">
					<input type="checkbox" id="dashboard_enabled" name="dashboard_enabled" checked>
					<span id="dashboard_enabled_text">Dashboard Enabled</span>
				</label>
				<br />
				<div id="dashboard_controls">
			    		<label>
			    			Number of Dashboard Charts &nbsp;
						<select id="dashboard_chart_count" class="span3" name="dashboard_chart_count">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</label>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submit" value="Save" class="btn btn-primary" />
						<a href="javascript:history.back()" class="btn">Cancel</a>
					</div>
				</div>
			</fieldset>
		</div>
	  	<div class="span9" id="dashboard_chart_area">
	  			<div id="single_chart" style="display: none;">
		    			#{dashboardCharts/singlechart /}
		    			
					<legend style="padding-top:50px;"  id="choose_charts_legend_option1">
						Choose a Chart
					</legend>
					<div style="clear: both; margin-left: 250px;" id="choose_charts_option1">
						Dashboard Chart #1: &nbsp;
						<select id="dashboard_chart1_select" name="dashboard_chart1_select">
						<option>BLANK</option>
						<option>RSF_BUILDING</option>
						<option>RSF_PV</option>
						<option>RSF_DATACENTER</option>
						<option>RSF_ELEVATOR</option>
						<option>RSF_LIGHTING</option>
						<option>RSF_MECHANICAL</option>
						<option>RSF_PLUG</option>
						<option>RSF_MISC</option>
						<option>RSF_HEATING</option>
						<option>RSF_COOLING</option>
						<option>GARAGE_BUILDING</option>
						<option>GARAGE_EVCS</option>
						<option>wind103W_GloCM22</option>
						<option>wind103W_DirCH1</option>
						<option>wind303W_Temp</option>
						<option>wind303W_WS_AT_6</option>
						<option>wind303W_RainSum</option>
						<option>wind303W_EFM</option>
						<option>area_lined_range_example_SCRIPT</option>
						<option>doughnut_example_SCRIPT</option>
						</select>
					</div>
		    		</div>
		    		<div id="dual_chart" style="display: none;">
		    			#{dashboardCharts/dualchart /}
					<legend style="padding-top:50px;" id="choose_charts_legend_option2">
						Choose your Charts
					</legend>
					<div class="row-fluid" id="choose_charts_option2">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span class="span6">
								Dashboard Chart #1: &nbsp;
								<select id="dashboard_chart2_select" name="dashboard_chart2_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #2: &nbsp;
								<select id="dashboard_chart3_select" name="dashboard_chart3_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
						</div>
					</div>
		    		</div>
		    		<div id="triple_chart" style="display: none;">
		    			#{dashboardCharts/threecharts /}
		    			<legend style="padding-top:50px;" id="choose_charts_legend_option3">
							Choose your Charts
						</legend>
					<div class="row-fluid" id="choose_charts_option3">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span class="span6">
								Dashboard Chart #1: &nbsp;
								<select id="dashboard_chart4_select" name="dashboard_chart4_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #2: &nbsp;
								<select id="dashboard_chart5_select" name="dashboard_chart5_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
					    </div>
					    <div class="span12" style="clear: both; margin-left: 25px; padding-top:25px;">
					    		<span class="span6">
								Dashboard Chart #3: &nbsp;
								<select id="dashboard_chart6_select" name="dashboard_chart6_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
						</div>
					</div>
		    		</div>
		    		<div id="quadruple_chart" style="display: none;">
		    			#{dashboardCharts/fourcharts /}
		    			<legend style="padding-top:50px;" id="choose_charts_legend_option3">
						Choose your Charts
					</legend>
					<div class="row-fluid" id="choose_charts_option4">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span class="span6">
								Dashboard Chart #1: &nbsp;
								<select id="dashboard_chart7_select" name="dashboard_chart7_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #2: &nbsp;
								<select id="dashboard_chart8_select" name="dashboard_chart8_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
					    </div>
					    <div class="span12" style="clear: both; margin-left: 25px; padding-top:25px;">
					    		<span class="span6">
								Dashboard Chart #3: &nbsp;
								<select id="dashboard_chart9_select" name="dashboard_chart9_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
							<span class="span6">
								Dashboard Chart #4: &nbsp;
								<select id="dashboard_chart10_select" name="dashboard_chart10_select">
									<option>BLANK</option>
									<option>RSF_BUILDING</option>
									<option>RSF_PV</option>
									<option>RSF_DATACENTER</option>
									<option>RSF_ELEVATOR</option>
									<option>RSF_LIGHTING</option>
									<option>RSF_MECHANICAL</option>
									<option>RSF_PLUG</option>
									<option>RSF_MISC</option>
									<option>RSF_HEATING</option>
									<option>RSF_COOLING</option>
									<option>GARAGE_BUILDING</option>
									<option>GARAGE_EVCS</option>
									<option>wind103W_GloCM22</option>
									<option>wind103W_DirCH1</option>
									<option>wind303W_Temp</option>
									<option>wind303W_WS_AT_6</option>
									<option>wind303W_RainSum</option>
									<option>wind303W_EFM</option>
									<option>area_lined_range_example_SCRIPT</option>
									<option>doughnut_example_SCRIPT</option>
								</select>
							</span>
						</div>
					</div>
		    		</div>
		</div>
#{/form}

	
<script type="text/javascript" src="/public/includes/highcharts/highcharts.js"></script>

<!-- Our HighCharts code -->
<script src="/public/javascripts/charts.js" type="text/javascript"></script>
<link href="/public/stylesheets/charts.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/public/includes/highcharts/highstock.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/exporting.js"></script>

<!-- Our HighCharts code -->
<!--<script src="/public/javascripts/charts.js" type="text/javascript"></script>
<link href="/public/stylesheets/charts.css" rel="stylesheet" type="text/css">-->

	<script type="text/javascript">
		$(document).ready(function() {
			$('#dashboard_chart_count').val(_option_enabled);
			
			if(_dashboard_enabled === 'true') {
				$('#dashboard_enabled').prop('checked', true);
				$('#dashboard_enabled_text').text("Dashboard Enabled");
				
				$('#dashboard_controls').show();
				$('#dashboard_chart_area').show();
				
				showChartSelection(_option_enabled);   
			} else {
				$('#dashboard_enabled').prop('checked', false);
				$('#dashboard_enabled_text').text("Dashboard Disabled");
				
				$('#dashboard_controls').hide();
				$('#dashboard_chart_area').hide();
			}
			
			if(_option_enabled === 1) {
				$('#dashboard_chart1_select').val(chart_1);
			} else if(_option_enabled === 2) {
				$('#dashboard_chart2_select').val(chart_1);
				$('#dashboard_chart3_select').val(chart_2);				
			} else if(_option_enabled === 3) {
				$('#dashboard_chart4_select').val(chart_1);
				$('#dashboard_chart5_select').val(chart_2);
				$('#dashboard_chart6_select').val(chart_3);	
			} else if(_option_enabled === 4) {
				$('#dashboard_chart7_select').val(chart_1);
				$('#dashboard_chart8_select').val(chart_2);
				$('#dashboard_chart9_select').val(chart_3);
				$('#dashboard_chart10_select').val(chart_4);
			}
			
		});
		
		$('#dashboard_enabled').click(function () {
			if ($(this).is(':checked')) {
				$('#dashboard_enabled_text').text("Dashboard Enabled");
				
				$('#dashboard_controls').show();
				$('#dashboard_chart_area').show();
				
				//var chart_count = parseInt($("#dashboard_chart_count :selected").text());
				showChartSelection(_option_enabled); 
			} else {
				$('#dashboard_enabled_text').text("Dashboard Disabled");
				
				$('#dashboard_controls').hide();
				$('#dashboard_chart_area').hide();
			}
		});
		
		$('#dashboard_chart_count').change(function() {
			var chart_count = parseInt($("#dashboard_chart_count :selected").text());
			showChartSelection(chart_count);
		});
		
		function showChartSelection(count) {
			switch(count) {
				case 1: {
					_option_enabled = 1;
					$('#single_chart').show();
					$('#dual_chart').hide();
					$('#triple_chart').hide();
					$('#quadruple_chart').hide();
					
					// Now launch the chart
					if(chart_1 === 'BLANK') {					
						showBlankChart('chart_1_area');
					} else {
						if(chart_1.indexOf('_SCRIPT') != -1) {
							var chart = chart_1.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_1_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_1, "#chart_1_area");
						}
					}
					
					break;
				}
				case 2: {
					_option_enabled = 2;
					$('#single_chart').hide();
					$('#dual_chart').show();
					$('#triple_chart').hide();
					$('#quadruple_chart').hide();
					
					// Now launch the charts
					if(chart_1 === 'BLANK') {
						showBlankChart('chart_2_area');
					} else {
						if(chart_1.indexOf('_SCRIPT') != -1) {
							var chart = chart_1.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_2_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_1, "#chart_2_area");
						}
					}
					
					if(chart_2 === 'BLANK') {
						showBlankChart('chart_3_area');
					} else {
						if(chart_2.indexOf('_SCRIPT') != -1) {
							var chart = chart_2.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_3_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_2, "#chart_3_area");
						}
					}
					break;
				}
				case 3: {
					_option_enabled = 3;
					$('#single_chart').hide();
					$('#dual_chart').hide();
					$('#triple_chart').show();
					$('#quadruple_chart').hide();
					
					// Now launch the charts
					if(chart_1 === 'BLANK') {
						showBlankChart('chart_4_area');
					} else {
						if(chart_1.indexOf('_SCRIPT') != -1) {
							var chart = chart_1.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_4_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_1, "#chart_4_area");
						}
					}
					
					if(chart_2 === 'BLANK') {
						showBlankChart('chart_5_area');
					} else {
						if(chart_2.indexOf('_SCRIPT') != -1) {
							var chart = chart_2.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_5_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_2, "#chart_5_area");
						}
					}
					
					if(chart_3 === 'BLANK') {
						showBlankChart('chart_6_area');
					} else {
						if(chart_3.indexOf('_SCRIPT') != -1) {
							var chart = chart_3.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_6_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_3, "#chart_6_area");
						}
					}
					break;
				}
				case 4: {
					_option_enabled = 4;
					$('#single_chart').hide();
					$('#dual_chart').hide();
					$('#triple_chart').hide();
					$('#quadruple_chart').show();
		
					// Now launch the charts
					if(chart_1 === 'BLANK') {					
						showBlankChart('chart_7_area');
					} else {
						if(chart_1.indexOf('_SCRIPT') != -1) {
							var chart = chart_1.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_7_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_1, "#chart_7_area");
						}
					}
					
					if(chart_2 === 'BLANK') {
						showBlankChart('chart_8_area');
					} else {
						if(chart_2.indexOf('_SCRIPT') != -1) {
							var chart = chart_2.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_8_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_2, "#chart_8_area");
						}
					}
					
					if(chart_3 === 'BLANK') {
						showBlankChart('chart_9_area');
					} else {
						if(chart_3.indexOf('_SCRIPT') != -1) {
							var chart = chart_3.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_9_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_3, "#chart_9_area");
						}
					}
					
					if(chart_4 === 'BLANK') {
						showBlankChart('chart_10_area');
					} else {
						if(chart_4.indexOf('_SCRIPT') != -1) {
							var chart = chart_4.replace('_SCRIPT','.js');							
							var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + chart + "&div=chart_10_area";
							$.get(chartURL, function(data) {
   								var chartData = new Function (data);
								chartData();
							});
							
						} else {
							addChart(chart_4, "#chart_10_area");
						}
					}
					break;
				}
			}
		}
		
		// Show options
		var chart_area_div = "";
		
		// Option 1
		$('#dashboard_chart1_select').change(function() {
			$("#chart_1_area").show();
			$("#chart_1_area").empty();
			$("#chart_1_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart1_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_1_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_1_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_1_area");
				}
			}
		});
		
		// Option 2
		$('#dashboard_chart2_select').change(function() {
			$("#chart_2_area").show();
			$("#chart_2_area").empty();
			$("#chart_2_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart2_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_2_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_2_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_2_area");
				}
			}
		});
		
		$('#dashboard_chart3_select').change(function() {
			$("#chart_3_area").show();
			$("#chart_3_area").empty();
			$("#chart_3_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart3_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_3_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_3_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_3_area");
				}
			}
		});
		
		// Option 3
		$('#dashboard_chart4_select').change(function() {
			$("#chart_4_area").show();
			$("#chart_4_area").empty();
			$("#chart_4_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart4_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_4_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_4_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_4_area");
				}
			}
		});
		
		$('#dashboard_chart5_select').change(function() {
			$("#chart_5_area").show();
			$("#chart_5_area").empty();
			$("#chart_5_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart5_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_5_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_5_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_5_area");
				}
			}
		});
		
		$('#dashboard_chart6_select').change(function() {
			$("#chart_6_area").show();
			$("#chart_6_area").empty();
			$("#chart_6_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart6_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_6_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_6_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_6_area");
				}
			}
		});
		
		// Options 4
		$('#dashboard_chart7_select').change(function() {
			$("#chart_7_area").show();
			$("#chart_7_area").empty();
			$("#chart_7_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart7_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_7_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_7_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_7_area");
				}
			}
		});
		
		$('#dashboard_chart8_select').change(function() {
			$("#chart_8_area").show();
			$("#chart_8_area").empty();
			$("#chart_8_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart8_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_8_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_8_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_8_area");
				}
			}
		});
		
		$('#dashboard_chart9_select').change(function() {
			$("#chart_9_area").show();
			$("#chart_9_area").empty();
			$("#chart_9_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart9_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_9_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_9_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_9_area");
				}
			}
		});
		
		$('#dashboard_chart10_select').change(function() {
			$("#chart_10_area").show();
			$("#chart_10_area").empty();
			$("#chart_10_area").css("background-color","#efefef");
			
			var chart = $("#dashboard_chart10_select :selected").text();
			
			if(chart == 'BLANK') {
				showBlankChart('chart_10_area');
			} else {
				if(chart.indexOf('_SCRIPT') != -1) {
					var scriptChart = chart.replace('_SCRIPT','.js');							
					var chartURL = "@{gui.MyCharts.loadChartDiv()}?chart=" + scriptChart + "&div=chart_10_area";
					$.get(chartURL, function(data) {
						var chartData = new Function (data);
						chartData();
					});					
				} else {
					addChart(chart, "#chart_10_area");
				}
			}
		});
				
		function showBlankChart(divArea) {
			$(function () {
				var chartTitle = "Dashboard Chart #1";
				
				if(_option_enabled === 2) {
					if(divArea === 'chart_3_area') {
						chartTitle = "Dashboard Chart #2";
					}
				} else if(_option_enabled === 3) {
					if(divArea === 'chart_5_area') {
						chartTitle = "Dashboard Chart #2";
					} else if(divArea === 'chart_6_area') {
						chartTitle = "Dashboard Chart #3";
					}
				} else if(_option_enabled === 4) {
					if(divArea === 'chart_8_area') {
						chartTitle = "Dashboard Chart #2";
					} else if(divArea === 'chart_9_area') {
						chartTitle = "Dashboard Chart #3";
					} else if(divArea === 'chart_10_area') {
						chartTitle = "Dashboard Chart #4";
					}
				}
				
				var blankChart_alphabetLabel = ['', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
		
				var blankChart_xAxisLabels = {
				    categories: ['','Add', 'a', 'chart', 'to', 'your', 'dashboard', ''],
				    labels:{
				                step: 1
				            },
				    text: null
				};
				
				var blankChartSeriesData = [{
				                    showInLegend: false,
				                    data: [0,1,1,3,20,25,4,0]
				                    }];
				
				var blankChart = new Highcharts.Chart({
				    title: {
				        text: chartTitle
				    },
				    chart: {
				        renderTo: divArea
				    },
				
				    xAxis: blankChart_xAxisLabels,
				    yAxis: {
				            endOnTick: false,
				            min: 0,
				            max: 26,
				            tickInterval: 2,
				            title: { text: 'Alphabet' },
				            labels: {
				                        formatter: function() {
				                            return blankChart_alphabetLabel[this.value];
				                        }
				                    }  
				            },
				
				    series: blankChartSeriesData
				
				});
			});
		}
	</script>
	
</div>


