#{extends '/main_body_container.html' /}
#{set title:'My Account' /}

<!-- JQuery -->
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
        
<div class="container-fluid db_container" style="float: left;">
	<div class="row-fluid">
		<h1 class="db_page_title">My Settings</h1>
		<br />
		<ul class="nav nav-tabs">
			<li class="active">
				<a id="mydashboard_settings">Dashboard</a>
			</li>
			#{if userCharts.size() > 0}
			<li>
				<a id="mycharts_settings">My Charts</a>
			</li>
			#{/if}
			<li>
				<a id="addchart_settings">Add a Chart</a>
			</li>
		</ul>
	</div>
	<div class="row-fluid">
		<div id="my_settings_content" class="span12" style="float: left; margin-left: 20px;"></div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$(window).bind('load', function() {
			var redirect = "${redirectTo}";
		
			if((redirect != undefined) && (redirect === 'mycharts_settings')) {
				$('#mycharts_settings').click();
			} else if((redirect != undefined) && (redirect === 'addchart_settings')) {
				$('#mycharts_settings').click();
			} else {
				$('#mydashboard_settings').click();
			}
		});
	});
	
	
	$('#mydashboard_settings').on('click', function (e) {
		$('#mydashboard_settings').parent().addClass('active');
		$('#mycharts_settings').parent().removeClass('active');
		$('#addchart_settings').parent().removeClass('active');
		
		$.get("@{gui.MySettings.myDashboardSettings()}", function(data) {
			$('#my_settings_content').html(data);
		});
    	});
    	
    	$('#mycharts_settings').on('click', function (e) {
    		$('#mydashboard_settings').parent().removeClass('active');
		$('#mycharts_settings').parent().addClass('active');
		$('#addchart_settings').parent().removeClass('active');
		
		$.get("@{gui.MySettings.myChartsSettings()}", function(data) {
			$('#my_settings_content').html(data);
		});
    	});
    	
    	$('#addchart_settings').on('click', function (e) {
    		$('#mydashboard_settings').parent().removeClass('active');
		$('#mycharts_settings').parent().removeClass('active');
		$('#addchart_settings').parent().addClass('active');
		
		$.get("@{gui.MySettings.addChartSettings()}", function(data) {
			$('#my_settings_content').html(data);
		});
    	});
</script>


