#{extends '/main_body_container.html' /}
#{set title:'My Account' /}

<!-- JQuery -->
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
        
<div class="container db_container" style="float: left;">
	<h1 class="db_page_title">My Settings</h1>
	<br />
	<ul class="nav nav-tabs">
		<li class="active">
			<a id="mydashboard_settings">Dashboard</a>
		</li>
		#{if userCharts.size() == 0}
		<li>
			<a id="mycharts_settings">My Charts</a>
		</li>
		#{/if}
		<li>
			<a id="addchart_settings">Add a Chart</a>
		</li>
	</ul>
	
	<div id="my_settings_content" style="float: left; margin-left: 20px;"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#mydashboard_settings').click();
	});
	
	$('#mydashboard_settings').on('click', function (e) {
		$('#mydashboard_settings').parent().addClass('active');
		$('#mycharts_settings').parent().removeClass('active');
		$('#addchart_settings').parent().removeClass('active');
		
		$.get("@{gui.MySettings.myDashboardSettings()}", function(data) {
			$('#my_settings_content').html(data);
		});
    	});
    	
    	$('#mycharts_settings').on('click', function (e) {
    		$('#mydashboard_settings').parent().removeClass('active');
		$('#mycharts_settings').parent().addClass('active');
		$('#addchart_settings').parent().removeClass('active');
		
		$.get("@{gui.MySettings.myChartsSettings()}", function(data) {
			$('#my_settings_content').html(data);
		});
    	});
    	
    	$('#addchart_settings').on('click', function (e) {
    		$('#mydashboard_settings').parent().removeClass('active');
		$('#mycharts_settings').parent().removeClass('active');
		$('#addchart_settings').parent().addClass('active');
		
		$.get("@{gui.MySettings.addChartSettings()}", function(data) {
			$('#my_settings_content').html(data);
		});
    	});
</script>


