<div class="row-fluid">
    <div class="span6">
    		<div id="chart_7_area" class="db_summary_chart" style="height: 300px; margin-right: 5px;">
    		<iframe style="border: none;" width="100%" height="100%" src="${_user.getChartUrl(0).raw()}">
    		</iframe>
    		</div>
    </div>
    <div class="span6" style="margin-left: 5px;">
    		<div id="chart_8_area" class="db_summary_chart" style="height: 300px;">
            <iframe style="border: none;" width="100%" height="100%" src="${_user.getChartUrl(1).raw()}">
            </iframe>
    		</div>
    </div>
</div>
<div class="row-fluid" style="margin-top: 5px;">
    <div class="span6">
    		<div id="chart_9_area" class="db_summary_chart" style="height: 300px; margin-right: 5px;">
    		<iframe style="border: none;" width="100%" height="100%" src="${_user.getChartUrl(2).raw()}">
            </iframe>
    		</div>
    </div>
    <div class="span6" style="margin-left: 5px;">
    		<div id="chart_10_area" class="db_summary_chart" style="height: 300px;">
    		<iframe style="border: none;" width="100%" height="100%" src="${_user.getChartUrl(3).raw()}">
            </iframe>
    		</div>
    </div>
</div>
