#{extends './adminTemplate.html' /}
#{set title:'Become a User' /}
#{set subtab:'users' /}

<h2>Users</h2>

Click a name AND you BECOME that user so you can reproduce their issue as that user

<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Users</th>
	    </tr>
	</thead>
	<tbody>
	    #{list users, as:'user'}
	        <tr>
	            <td><a href="@{becomeUser(user.username)}">${user.username}</a></td>
	        </tr>
	    #{/list}
	</tbody>
</table>
