start_solr
.gradle
/webapp/.classpath
/webapp/.settings
/webapp/.project
/webapp/.settings
/webapp/play-1.2.5/bin/
/webapp/eclipse/
/webapp/tmp
/webapp/modules
/webapp/test-result
/webapp/test-output
/webapp/logs
/webapp/bin/
/modbus/bin/
/old/bin/
*.pyc
_noctp
/.gradle
/master/lib
output/
/master/lib
/webapp/lib
/webapp/play-1.2.5/framework/bin/
/webapp/play-1.2.5/framework/classes/
/solr/data/*
/solr/solr/data/*
/solr/solr/databusmeta/*
.classpath
.project
.settings
/master/.classpath
/master/.project
/master/.settings
/client/bin
/modbus/.project
/modbus/.classpath
/modbus/.settings
/solr/solr/solr.xml
.DS_Store
