
 *{           #{list _chart.axisList, as:'axis'}
                index=${axis_index}
                #{if axis_index < _chart.axisList.size()},#{/if}
            #{/list}
}*
    <script type="text/javascript">
$(function () {

  var endTime = ${_chart.endTime},
    startTime = ${_chart.startTime},
    maximized = false,
    maximizedStream,
    height = getHeight(),
    width = $("#theChart").width(),
    chart;

  $(window).resize(function () {
	var height = getHeight();
    console.log('fit new div container size, width='+$("#theChart").width()+' height='+height+' windowH='+$(window).height());
    chart.setSize($("#theChart").width(), height, false);
  });

  $.ajaxSetup({
    username: '${username}',
    password: '${password}'
  });

  Highcharts.extend(Highcharts.getOptions().lang, {
    zoomTitle: 'Zoom the chart'
  });

  Highcharts.setOptions({
    credits: {
      enabled: false
    },
    global: {
      useUTC: false
    },
    loading: {
      labelStyle: {
        color: '#FFF'
      },
      style: {
        backgroundColor: '#444'
      }
    },
    navigator: {
      margin: 50
    },
    plotOptions: {
      series: {
        dataGrouping: {
          approximation: "high",
          groupPixelWidth: 1
        },
        marker: {
          //enabled: true
        }
      }
    },
    rangeSelector: {
      inputEnabled: false,
      buttons: [{
        type: 'hour',
        count: 1,
        text: '1h'
      }, {
        type: 'hour',
        count: 6,
        text: '6h'
      }, {
        type: 'hour',
        count: 12,
        text: '12h'
      }, {
        type: 'hour',
        count: 24,
        text: '24h'
      }, {
        type: 'hour',
        count: 48,
        text: '48h'
      }, {
        type: 'all',
        text: 'All'
      }],
      selected: 5
    },
    tooltip: {
      backgroundColor: {
        linearGradient: {
          x1: 0,
          y1: 0,
          x2: 0,
          y2: 1
        },
        stops: [
          [0, '#FFF'],
          [1, '#EEE']
        ]
      },
      borderColor: 'gray',
      borderWidth: 1,
      yDecimals: 2
    },
    xAxis: {
      dateTimeLabelFormats: {
        second: '%l:%M:%S%P',
        minute: '%l:%M%P',
        hour: '%l%P',
        day: '%e %b',
        week: '%e %b'
      },
      maxZoom: 600000,
      type: 'datetime',
      title: {
        text: ''
      }
    },
    yAxis: {
      endOnTick: false
      //min: 0
    }
  });

  function crisp(arr) {
    var i = arr.length;
    while (i--) {
      if (typeof arr[i] === 'number') {
        arr[i] = Math.round(arr[i]) - 0.5;
      }
    }
    return arr;
  }

  function getHeight() {
	var windowHeight = $(window).height();
	var height = windowHeight-${_topMargin};
	if(height < 300)
		height = 300;
	return height;
  }
  
  function collapseData(data, columnName) {
    var collapsedData = [];
    $.each(data.data, function (index, value) {
      collapsedData.push([value.${_chart.timeColumn}, (value == "NaN") ? null : value[columnName] ]);
    });
    return collapsedData;
  }

  function expandData(data) {
    var expandedData = {};
    expandedData.data = [];
    expandedData.error = [];
    $.each(data, function (index, value) {
      expandedData.data.push({
        "time": value[0],
          "value": value[1] * 1000
      });
    });
    return expandedData;
  }
  window.collapseData = collapseData;
  window.expandData = expandData;

  function addChart(reverseAxis, singleStream, title) {
    reverseAxis = typeof reverseAxis !== 'undefined' ? reverseAxis : false;
    singleStream = typeof singleStream !== 'undefined' ? singleStream : false;
    title = typeof title !== 'undefined' ? title : false;

    var url = '${_chart.url}'+'?callback=?';
    
    console.log('url='+url);
    
    $('#theChart').append($('<div class="chart" />').attr('id', 'mychart'));
    $.getJSON(url, function (data) {
        
        var msg = "No data available in the specified time period."
        if(data.data.length != 0) {
            msg = "Last value was "+data.data[data.data.length-1].${_chart.series1.name}+" at "+new Date(data.data[data.data.length-1].${_chart.timeColumn}).toUTCString()
        }

      console.log('window2222 height:'+$(window).height());
      chart = new Highcharts.StockChart({
          chart: {
              renderTo: mychart,
              height: getHeight()
          },
          title: {
              text: (title!==false ? title : '${_chart.title}') 
          },
          subtitle: {
                text: msg
          },
          xAxis: {
              ordinal: false
          },
          yAxis: [
  #{list _chart.axisList, as:'axis'}#{chart_yaxis axis:axis/}
  #{if axis_index < _chart.axisList.size()},#{/if}
  #{/list}
          ],
          tooltip: {
              shared: true
          },
          legend: {
              align: 'center',
              enabled: true,
              floating: true,
              verticalAlign: 'top',
              y: 40,
              symbolWidth: 30
          },
          *{ legend: {
              layout: 'vertical',
              align: 'left',
              x: 120,
              verticalAlign: 'top',
              y: 80,
              floating: true,
              backgroundColor: '#FFFFFF'
          }, }*
       *{   exporting: {
            buttons: {
            }
          },
          navigator: {
            yAxis: {
              reversed: reverseAxis
            }
          }, }*
          rangeSelector : {
                  selected : 1
          },
          series: [
  #{list _chart.seriesList, as:'series'}#{chart_series series:series/}
  #{if series_index < _chart.seriesList.size()},#{/if}
  #{/list}
          ]
        });

      
    });
  }

  $(document).bind('keyup', 'esc', function () {
    if (maximized) {
      maximized = false;
      $('.overlay').toggleClass('overlay');
    }
  });

  addChart(false, true);
  console.log('returned chart='+chart);
});
    </script>

    <script src="/public/includes/jquery.hotkeys.js"></script>
    <script src="/public/includes/highstock.js"></script>
    <script src="/public/includes/exporting.js"></script>
