
    <script type="text/javascript">
$(function () {

  var endTime = ${_chart.endTime},
    startTime = ${_chart.startTime},
    maximized = false,
    maximizedStream,
    height = 700,
    width = 951,
    chart;

  $(window).resize(function () {
    console.log('resized window heigth:'+$(window).height());
    if (maximized) {
        chart.setSize($(window).width()-80, $(window).height(), false);
    }
  });

  $.ajaxSetup({
    username: '${username}',
    password: '${password}'
  });

  Highcharts.extend(Highcharts.getOptions().lang, {
    zoomTitle: 'Zoom the chart'
  });

  Highcharts.Renderer.prototype.symbols.zoomInIcon = function (x, y, width, height) {
      console.log('zoom heigth:'+height);
    return crisp([
      'M',
    x + width * 0.88575, y + height * 0.219167,
      'L',
    x + width, y + height * 1 / 3,
    x + width, y,
    x + width * 2 / 3, y,
    x + width * 0.780833, y + height * 0.114167,
    x + width * 0.5, y + height * 0.395,
    x + width * 0.219167, y + height * 0.114167,
    x + width * 1 / 3, y,
    x, y,
    x, y + height * 1 / 3,
    x + width * 0.114167, y + height * 0.219167,
    x + width * 0.395, y + height * 0.5,
    x + width * 0.114167, y + height * 0.780833,
    x, y + height * 2 / 3,
    x, y + height,
    x + width * 1 / 3, y + height,
    x + width * 0.219083, y + height * 0.88575,
    x + width * 1 / 2, y + height * 0.604917,
    x + width * 0.780833, y + height * 0.885833,
    x + width * 2 / 3, y + height,
    x + width, y + height,
    x + width, y + height * 2 / 3,
    x + width * 0.885833, y + height * 0.780833,
    x + width * 0.604917, y + height * 1 / 2,
      'Z']);
  };

  Highcharts.setOptions({
    credits: {
      enabled: false
    },
    exporting: {
      buttons: {
        exportButton: {
          enabled: false
        },
        printButton: {
          enabled: false
        },
        zoomButton: {
          symbol: 'zoomInIcon',
          x: -10,
          symbolFill: '#B5C9DF',
          hoverSymbolFill: '#779ABF',
          _titleKey: 'zoomTitle'
        }
      }
    },
    global: {
      useUTC: false
    },
    loading: {
      labelStyle: {
        color: '#FFF'
      },
      style: {
        backgroundColor: '#444'
      }
    },
    navigator: {
      margin: 50
    },
    plotOptions: {
      series: {
        dataGrouping: {
          approximation: "high",
          groupPixelWidth: 1
        },
        marker: {
          //enabled: true
        }
      }
    },
    rangeSelector: {
      inputEnabled: false,
      buttons: [{
        type: 'hour',
        count: 1,
        text: '1h'
      }, {
        type: 'hour',
        count: 6,
        text: '6h'
      }, {
        type: 'hour',
        count: 12,
        text: '12h'
      }, {
        type: 'hour',
        count: 24,
        text: '24h'
      }, {
        type: 'hour',
        count: 48,
        text: '48h'
      }, {
        type: 'all',
        text: 'All'
      }],
      selected: 5
    },
    tooltip: {
      backgroundColor: {
        linearGradient: {
          x1: 0,
          y1: 0,
          x2: 0,
          y2: 1
        },
        stops: [
          [0, '#FFF'],
          [1, '#EEE']
        ]
      },
      borderColor: 'gray',
      borderWidth: 1,
      yDecimals: 2
    },
    xAxis: {
      dateTimeLabelFormats: {
        second: '%l:%M:%S%P',
        minute: '%l:%M%P',
        hour: '%l%P',
        day: '%e %b',
        week: '%e %b'
      },
      maxZoom: 600000,
      type: 'datetime',
      title: {
        text: ''
      }
    },
    yAxis: {
      endOnTick: false
      //min: 0
    }
  });

  function crisp(arr) {
    var i = arr.length;
    while (i--) {
      if (typeof arr[i] === 'number') {
        arr[i] = Math.round(arr[i]) - 0.5;
      }
    }
    return arr;
  }

  function collapseData(data, columnName) {
    var collapsedData = [];
    $.each(data.data, function (index, value) {
      collapsedData.push([value.${_chart.timeColumn}, (value == "NaN") ? null : value[columnName] ]);
    });
    return collapsedData;
  }

  function expandData(data) {
    var expandedData = {};
    expandedData.data = [];
    expandedData.error = [];
    $.each(data, function (index, value) {
      expandedData.data.push({
        "time": value[0],
          "value": value[1] * 1000
      });
    });
    return expandedData;
  }
  window.collapseData = collapseData;
  window.expandData = expandData;

  function addChart(reverseAxis, singleStream, title) {
    reverseAxis = typeof reverseAxis !== 'undefined' ? reverseAxis : false;
    singleStream = typeof singleStream !== 'undefined' ? singleStream : false;
    title = typeof title !== 'undefined' ? title : false;

    var url = '${_chart.url}'+'?callback=?';
    
    console.log('url='+url);
    
    $('#theChart').append($('<div class="chart" />').attr('id', 'mychart'));
    $.getJSON(url, function (data) {
        
        var msg = "No data available in the specified time period."
        if(data.data.length != 0) {
            msg = "Last value was "+data.data[data.data.length-1].${_chart.column1}+" at "+new Date(data.data[data.data.length-1].${_chart.timeColumn}).toUTCString()
        }
                
        console.log('window2222 heigth:'+$(window).height());
      chart = new Highcharts.StockChart({
        chart: {
          renderTo: mychart,
          height: 500
        },
        exporting: {
          buttons: {
            zoomButton: {
              onclick: function () {
                $('#mychart').toggleClass('overlay');
                if (!maximized) {
                  this.setSize($(window).width()-60, $(window).height(), false);
                  maximized = true;
                  maximizedStream = mychart;
                } else {
                  this.setSize($('.chart').width(), $('.chart').height(), false);
                  maximized = false;
                }
              }
            }
          }
        },
        legend: {
          align: 'center',
          enabled: true,
          floating: true,
          verticalAlign: 'bottom',
          y: -57
        },
        navigator: {
          yAxis: {
            reversed: reverseAxis
          }
        },
        series: [

          ${_chart.generatedJavascript}                 
      /* The above chart.generatedJavascript generates the below code for each column...  
         {
          name: 'Aggregation',
          data: collapseData(data, (singleStream!==true ? true : false))
        }*/
        
        
        ],
        title: {
          text: (title!==false ? title : '${_chart.title}') 
        },
        subtitle: {
            text: msg
          },
        xAxis: {
          ordinal: false
        },
        yAxis: {
          title: {
            text: ''
          },
          labels: {
            align: "right",
            x: -2,
            y: 4
          },
          reversed: reverseAxis
        }
      });
      chart.showLoading();

      chart.hideLoading();
      
    });
  }

  $(document).bind('keyup', 'esc', function () {
    if (maximized) {
      maximized = false;
      $('.overlay').toggleClass('overlay');
    }
  });

  addChart(false, true);
  console.log('returned chart='+chart);
});
    </script>

    <script src="/public/includes/jquery.hotkeys.js"></script>
    <script src="/public/includes/highstock.js"></script>
    <script src="/public/includes/exporting.js"></script>
