<h1 class="db_page_title">
  Databus Help
</h1>
For security, the full help is only displayed once you are logged in.  Also, to display your keys and information inline with the help, we need you to be logged in so
we can lookup that info and put it inside the help page to give better examples.  Please login before you can access full help.  
<br/>
<br/>
The energy space has been slow to integrate Data and Big Data technologies. The primary obstacle to adoption has been
that existing energy data platforms are not accessible, adaptable and definitely not easy to master for basic
researchers. Databus was designed to be accessible to a wide range of users from basic researchers to advanced
programmers. Databus is easily adapted to evolving data and big data technologies through a set of standard abstractions
and protocols. Databus makes the messy task of collecting and analyzing data from energy systems easier.
<br/>
<br/>
Databus is Software that enables collecting, storing and requesting time series data. It allows researchers to share
that data with their team as well as download manipulated data. There are many modules researchers can use so they can
download manipulated data. Some examples include:
<br/>
<br/>
<ol style="margin-left: 80px; color: black;">
  <li>
  Downloading a spline of the data over 60 second interval
</li>
<li>
Downloading a time average the data
</li>
<li>
Downloading a clean data set
</li>
<li>
Simply Downloading the raw data they stored
</li>
</ol>
<br/>