
<div id="warningModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Graph Disabled</h3>
    </div>
    <div class="modal-body">
        <p>
        The graph is not clickable while adding or editing a node.  Finish editing the node first or hit the back button to undo your current
        work.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="aggModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Note on Aggregations</h3>
    </div>
    <div class="modal-body">
        <p>
        This aggregation cannot be deleted yet.  To be able to delete this node, you either need
        <ol>
          <li>to insert an aggregation as a parent of this aggregation</li>
          <li>OR delete nodes so this aggregation only has one child</li>
        </ol>        
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
      
<style>

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	var width = $("#graph").width(),
	    height = 200;
	
	var cluster = d3.layout.cluster()
	    .size([height, width - 160]);
	
	var diagonal = d3.svg.diagonal()
	    .projection(function(d) { return [d.y, d.x]; });
	var myDiv = document.getElementById('graph');
	
	var theSvg = d3.select(myDiv).append("svg")
	    .attr("width", width)
	    .attr("height", height);
	var theG = theSvg.append("g")
	    .attr("transform", "translate(40,0)");

	d3.json("/datastreams/json/${_encoded}", function(error, root) {
	  var nodes = cluster.nodes(root),
	      links = cluster.links(nodes);
	  
	  var link = theG.selectAll(".link")
	      .data(links).enter();
	  var path = link.append("path")
	      .attr("class", "link")
	      .attr("id", function(d, i) { return "path"+d.target.id; })
	      .attr("d", diagonal);
	  
	  var textPath = path.each(function(l){
          var aref = theG.append("a")
	          .attr("xlink:href", function(d) { return l.target.insertUrl })
	          .attr("class", "graphlink");
          var text = aref.append("text")
             .style("font-size", function(d) { return "16px"; })
             .style("fill", function(d) { return "blue"; });
          var textPath = text.append("textPath")
             .attr("startOffset", "35%")
             .attr("xlink:href", "#path"+l.target.id)
             .text("+");

          var aref2 = theG.append("a")
              .attr("class", "graphlink");
          
          if(l.target.minusPopupLink) {
              aref2.attr("xlink:href", "#aggModal")
                  .attr("role", "button")
                  .attr("data-toggle", "modal");
          } else {
        	  aref2.attr("xlink:href", l.target.deleteUrl)
          }
          
          var text2 = aref2.append("text")
              .style("font-size", function(d) { return "16px"; })
              .style("fill", function(d) { return "blue"; });
          var textPath2 = text2.append("textPath")
              .attr("startOffset", "45%")
              .attr("xlink:href", "#path"+l.target.id)
              .text(function(d) { return l.target.hideMinus ? "" : "-" });
	  });

	  var node = theG.selectAll(".node")
	      .data(nodes)
	    .enter().append("g")
	      .attr("class", "node")
	      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
	  
	  node.append("circle")
	      .attr("r", function(d) { 
	    	  if(d.isRoot)
	    		  return 0;
	    	  return d.isSelected ? 10 : 4.5; 
	    });
	
	  var refs = node.append("a")
	    .attr("xlink:href", function(d) { return d.editUrl; })
	    .attr("class", "graphlink");
	
	  var text = refs.append("text")
	  .attr("dx", function(d) { return -8; })
	  .attr("dy", -4)
	  .style("text-anchor", function(d) { return "end"; });
	  
	  text.append("tspan")
	     .style("font-size", function(d) { return d.isSelected ? "16px" : "10px"; })
	     .style("font-weight", function(d) { return d.isSelected ? "bold" : ""; })
	     .style("fill", function(d) { return "blue"; })
	     .text(function(d) { return d.module; });

      var refs2 = node.append("a")
          .attr("xlink:href", function(d) { return d.addUrl; })
          .attr("class", "graphlink");
   
      var text2 = refs2.append("text")
         .attr("dx", function(d) { return 10; })
         .attr("dy", 10)
         .style("text-anchor", function(d) { return "start"; });
     
     text2.append("tspan")
        .style("font-size", function(d) { return "10px"; })
        .style("fill", function(d) { return "blue"; })
        .text(function(d) { return d.canAddChild ? "Add child" : ""; });
    
      #{if !_clickable}
         var refs = d3.selectAll('.graphlink');
         refs.attr("xlink:href", "#");
         $('.graphlink').click(function(e){
        	 $("#warningModal").modal('show');
         });
       #{/if}
  
	});
	
	d3.select(self.frameElement).style("height", height + "px");
	
	</script>