
<div id="footer" class="db_footer">

<div align="center">
<map name="footer_map" id="footer_map">

<area shape="rect" coords="27,7,61,20" href="http://www.nrel.gov/" alt="NREL" />
<area shape="rect" coords="238,7,399,19"  href="http://energy.gov/" alt="U.S. Department of Energy" />
<area shape="rect" coords="405,7,697,21"  href="http://www.eere.energy.gov/" alt="Office of Energy Efficiency and Renewable Energy" />
<area shape="rect" coords="307,21,524,35" href="http://www.allianceforsustainableenergy.org/" alt="Alliance for Sustainable Energy, LLC" />

</map>

<p><a href="http://www.mozilla.org/MPL/2.0/">License</a>&nbsp;&nbsp;|&nbsp;&nbsp;Contributors to Databus : <a href="http://www.nrel.gov/">NREL</a>, <a href="http://buffalosw.com/">Buffalo Software</a></p>
</div>

</div>