
<div id="footer" class="db_footer" style="margin-top: 80px;">
    <div align="center"><a href="http://www.nrel.gov/">NREL</a> |
	    <a href="http://www.energy.gov/">U.S. Department of Energy</a> |
	    <a href="http://www.eere.energy.gov/">Office of Energy Efficiency and Renewable Energy</a> |
	    <a href="http://www.allianceforsustainableenergy.org/">Alliance for Sustainable Energy, LLC</a>
			<p>
	    	<a href="http://www.nrel.gov/security.html">Security &amp; Privacy</a> |
	    	<a href="http://www.nrel.gov/disclaimer.html">Disclaimer</a>|
	    	<a href="http://www.nrel.gov/">NREL Home</a>
	    </p>
	    <p class="poweredby">This Web site is <a href="http://www.nrel.gov/poweredbyrenewables.html">powered by renewable energy</a>.</p>
	</div>
</div>