
#{xfield _id}

	<div class="control-group ${field.errorClass}">
	    <label class="control-label"><a href="#" rel="tooltip" title="${_help}"><i class="icon-info-sign"></i></a> ${_label}</label>
	    <div class="controls">
	        #{if _readonly}
	        <input type="text" name="${field?.name}" value="${field?.value}" maxlength="${_length}" class="${_class}" readonly="readonly">
	        #{/if}
	        #{else}
	        <input type="text" name="${field?.name}" value="${field?.value}" maxlength="${_length}" class="${_class}">
	        #{/else}

	         *{ It says help-block ONLY because that makes it go below the input area - use help-inline to be to the right }*
	         <span class="help-block">${field.error}</span>
	    </div>
	</div>

#{/xfield}
