#{extends 'main.html' /}
#{set title:'Add/Edit Schema' /}
#{set tab:'schemas' /}

<style>
	.apikey { margin: auto; padding: 10px; background-color:#00aa00; max-width: 900px; }
	.key    { margin: auto; padding: 5px; background-color:#00ff00; }
</style>

<div id="noputonstack"></div>

#{if schema?.id == null}
	<h2>Add Schema</h2>
#{/if}
#{else}
	<h2>Edit Schema</h2>
#{/else}

<div class="content clearfix">
#{form @MySchemas.postSchema(), id:'editproject'}

	<input type="hidden" name="schema.id" value="${schema?.id}">
	<input type="hidden" name="oldSchemaName" value="${schema?.schemaName}">

	#{xfield objectId:'schema.schemaName',label:'Schema Name', help:'Some help message'}
		#{text field:field, length:50/}
	#{/xfield}
	
	#{xfield objectId:'schema.description',label:'Schema Description', help:'Some help message'}
		#{textarea field:field, rows:12, cols:100/}
	#{/xfield}

	<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
		<input type="submit" name="submit" value="Save" class="button" />
		<a href="javascript:history.back()" class="button">Cancel</a>
	</div>
#{/form}
</div>

*{
	<div class="entry">
 		<div class="spacer"></div>
 		<span class="label">Fake Label:</span> 
 		<span class="input">
			<input type="text" class="inputtext" >
  		</span>

			<span class="help" onmouseover="showTip('tip_d_ds1_1')" onmouseout="hideTip('tip_d_ds1_1')">[?]<div id="tip_d_ds1_1" class="tip tipright">Shite</div></span>
 			<br />
 			<span class="hasError"></span> 

		<div style="clear: both;"></div>
	</div>
	
	<div class="entry">
 		<div class="spacer"></div>
 		<span class="label">Fake Label:</span> 
 		<span class="input">
			<input type="text" class="inputtext" >
  		</span>

			<span class="help" onmouseover="showTip('tip_d_ds1_1')" onmouseout="hideTip('tip_d_ds1_1')">[?]<div id="tip_d_ds1_2" class="tip tipright">Need some help</div></span>
 			<br />
 			<span class="hasError"></span> 

		<div style="clear: both;"></div>
	</div>
}*
	

#{if schema?.id != null}
 <h2>Users</h2>
    
<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Type</th>
	        <th>Role</th>
	    </tr>
	</thead>
	<tbody>
	    #{list schema.entitiesWithAccess, as:'xref'}
	        <tr>
	        	#{if xref.userOrGroup.classType == "group"}
		            	<td><a href="@{MyGroups.editGroup(xref.userOrGroup.name)}">${xref.userOrGroup.name}</a></td>
		            	<td>Group</td> 
	            #{/if}
	            #{if xref.userOrGroup.classType == "userImpl"}
		            	<td>${xref.userOrGroup.name}</td> 
		            	<td>User</td>
	            #{/if}
	            
	            <td>${xref.permission}</td>
	        </tr>
	    #{/list}
	</tbody>
</table>

<div class="content clearfix">

	<div id="suboperation" class="content clearfix">
	<h3>Add a user</h3>
		#{form @MySchemas.postAddUserToSchema(), id:'addusertoschema'}
			<input type="hidden" name="schema.id" value="${schema?.id}">
			#{xfield objectId:'targetUser.username',label:'User Name', help:'Some help message'}
				#{text field:field, length:50/}
			#{/xfield}
		
		
			#{xfield objectId:'permission',label:'Membership Type', help:'IF the user is an Admin he can add/remove users and groups', length:'50'}
				#{generic field}
					#{select 'permission', value:"read", id:'select1'}
						#{option "admin"}Admin#{/option}
						#{option "readwrite"}Writer/Reader#{/option}
						#{option "read"}Reader#{/option}
						
					#{/select}
				#{/generic}
			#{/xfield}
		
			<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
				<input type="submit" name="submit" value="Add User" class="button" />
			</div>
		#{/form}
	</div>
	<div id="suboperation" class="content clearfix">
	<h3>Add a group</h3>
		#{form @MySchemas.postAddGroupToSchema(), id:'addgrouptoschema'}
			<input type="hidden" name="schema.id" value="${schema?.id}">
			#{xfield objectId:'targetGroup.name',label:'Group Name', help:'Some help message'}
				#{text field:field, length:50/}
			#{/xfield}
			
			#{xfield objectId:'permission',label:'Membership Type', help:'IF the group is an Admin anyone in that group can add/remove users and groups', length:'50'}
				#{generic field}
					#{select 'permission', value:"read", id:'select1'}
						#{option "admin"}Admin#{/option}
						#{option "readwrite"}Writer/Reader#{/option}
						#{option "read"}Reader#{/option}
						
					#{/select}
				#{/generic}
			#{/xfield}
		
		
			
			<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
				<input type="submit" name="submit" value="Add Group" class="button" />
			</div>
		#{/form}
	</div>
</div>

<br><br>
	
<h2>Tables in this Schema(first 50 shown)</h2>
	
<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Name</th>
	    </tr>
	</thead>
	<tbody>
	    #{list tables, as:'table'}
	        <tr>
		        #{if table?.typeOfData == timeseries}
					<td><a href="@{MyStuff.tableEdit(table.tableName)}">${table.tableName}</a></td><td><a href="@{MyStuff.tableData(table.tableName)}">View Data</a></td>
				#{/if}
				#{else}
					<!-- once we have a relational data view page, put the link here! -->
				#{/else}
	            
	        </tr>
	    #{/list}    	    
	</tbody>
</table>	
	
  	<a href="@{MySchemas.tableAdd(schema.schemaName)}">Add Table</a>
  	
<h2>Table Monitors</h2>

If you have a program that constantly updates a table, then you can add a monitor and we will notify you if that table stops seeing updates such that you know to go
check on your client to see if it crashed or what issue has occurred.  We check every 5 minutes and if we have any failures, the worst case is another server takes over
and checks in 10 minutes.

<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Table</th>
   	        <th>Poll Time(Minutes)</th>
	        <th>Emails</th>
	    </tr>
	</thead>
	<tbody>
	    #{list monitors, as:'monitor'}
	        <tr>
	            <td><a href="@{MySchemas.monitorEdit(schema.schemaName,monitor.tableName)}"">${monitor.tableName}</a></td>
           	    <td>${monitor.updatePeriod}</td>
	            <td>${monitor.emails}</td>
	        </tr>
	    #{/list}    	    
	</tbody>
</table>

<a href="@{MySchemas.monitorAdd(schema.schemaName)}">Add Monitor</a><br/>

#{/if}	

