#{extends '/main_body_container.html' /}
#{set tab:'home' /}

<h1 class="db_page_title">Choose Module</h1>

#{form @postModule(), id:'edituser', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}

    <input type="hidden" name="encoded" value="${encoded}"/>

	#{field 'moduleName'}
	<div class="control-group ${field.errorClass}">
	    <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>Module</label>
	    <div class="controls">
	        #{select field.name, value:module?.module, id:'moduleSelect'}
                #{list items:modules, as:'m'}
                    #{option m.moduleId}${m.guiLabel}#{/option}
                #{/list}
            #{/select}
	        <span class="help-block">${field.error}</span>
	    </div>
	</div>
    #{/field}

    #{list items:modules, as:'m'}
    <div id="mod${m.moduleId}" class="control-group" style="display: none;">
        <label class="control-label">Description</label>
        <div class="controls">
            ${m.description}            
        </div>
    </div>
    #{/list}

    <script type="text/javascript">
    var current = null;
    $(document).ready(function() {
    	var id = $("#moduleSelect").val();
    	$("#mod"+id).css("display", "block");
    	current = id;

    	$("#moduleSelect").change(function(e){
    		$("#mod"+current).css("display", "none");
    		
    		var id = $("#moduleSelect").val();
    	    $("#mod"+id).css("display", "block");
    	    current = id;
        });
    });
    </script>
    
    <div class="control-group">
       <div class="controls">
          <input type="submit" name="submit" value="Next" class="btn btn-primary" />
          <a href="javascript:history.back()" class="btn">Cancel</a>
       </div>
    </div>
#{/form}

<div id="graph"></div>

#{directedgraph encoded:encoded/}