#{extends '/main_body_container.html' /}
#{set tab:'home' /}

<h1 class="db_page_title">Choose Module</h1>

#{form @postModule(encoded), id:'edituser', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}

    <input type="hidden" name="index" value="${index}">
    <input type="hidden" name="encoded" value="${encoded}"/>

	#{field 'moduleName'}
	<div class="control-group ${field.errorClass}">
	    <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>Module</label>
	    <div class="controls">
	        #{select field.name, value:module?.module}
                #{list items:modules, as:'m'}
                    #{option m}${m}#{/option}
                #{/list}
            #{/select}
	        <span class="help-block">${field.error}</span>
	    </div>
	</div>
    #{/field}

    <div class="control-group">
       <div class="controls">
          <input type="submit" name="submit" value="Next" class="btn btn-primary" />
          <a href="javascript:history.back()" class="btn">Cancel</a>
       </div>
    </div>
#{/form}

<div id="graph"></div>

#{directedgraph encoded:encoded/}