#{extends '/main_body_container.html' /}
#{set title:'My Groups' /}
#{set tab:'home' /}

<h1 class="db_page_title">Create Datastream</h1>

<p>Data goes from top to bottom in this list of modules so start with adding the rawdataV1 module and telling it which stream/table you would like to read
 data from and then you can add splines, range cleaners or other modules to that incoming data</p>

<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Parameters</th>
	        <th>Actions</th>
	    </tr>
	</thead>
	<tbody>
	#{list stream.streams, as:'module'}
	   <tr>
	       <td>${module.module}</td>
	       <td>${module.params}</td>
	       <td>delete
	       <a href="@{gui.MyDataStreams.editModule(encoded, module_index)}">Edit</a>
	       </td>
	   </tr>
	#{/list}
	#{else}
	   <tr>
	      <td colspan=2>Please add a Data Module</td>
	   </tr>
    #{/else}
	</tbody>
</table>

<div id="saveModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save For Later</h3>
  </div>
  <div class="modal-body">
    <p>Saving where you are is simple, just bookmark the url and come back to this url and it is saved</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<p>
    <a href="@{gui.MyDataStreams.editModule(encoded, -1)}" class="btn btn-primary">Add Module</a>
    <a href="@{gui.MyDataStreams.streamComplete(encoded)}" class="btn btn-primary">Stream Complete</a>
    <a href="#saveModal" role="button" class="btn btn-primary" data-toggle="modal">Save to Edit Later</a>
</p>
