#{extends '/main_body_container.html' /}
#{set title:'My Groups' /}
#{set tab:'home' /}

${path}

<h1 class="db_page_title">Aggregation ${stream.name}</h1>

<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Actions</th>
	    </tr>
	</thead>
	<tbody>
	#{list stream.streams, as:'stream'}
	   <tr>
	       <td>${stream.name}</a></td>
	       <td>delete
	       <a href="@{gui.MyDataStreams.editStream(encoded, stream_index)}">Edit</a></td>
	   </tr>
	#{/list}
	#{else}
	   <tr>
	      <td colspan=2>Click Add Stream or Add Aggregation below to start creating a stream from other streams</td>
	   </tr>
    #{/else}
	</tbody>
</table>

<div id="saveModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save For Later</h3>
  </div>
  <div class="modal-body">
    <p>Saving where you are is simple, just bookmark the url and come back to this url and it is saved</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<p>
  	<a href="@{gui.MyDataStreams.editStream(encoded, -1)}" class="btn btn-primary">Add Stream</a>
  	<a href="@{gui.MyDataStreams.editAggregation(encoded)}" class="btn btn-primary">Add Aggregation</a>
  	<a href="@{gui.MyDataStreams.aggregationComplete(encoded)}" class="btn btn-primary">Aggregation Complete</a>
  	<a href="#saveModal" role="button" class="btn btn-primary" data-toggle="modal">Save to Edit Later</a>
</p>
