#{extends '/main_body_container.html' /}
#{set title:'My Groups' /}
#{set tab:'home' /}

<h1 class="db_page_title">Datastream</h1>

<p>Click on the links in the tree graph below to add nodes or edit nodes</p>

<div id="saveModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save For Later</h3>
  </div>
  <div class="modal-body">
    <p>Saving where you are is simple, just bookmark the url and come back to this url and it is saved</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="undoModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>How to undo</h3>
  </div>
  <div class="modal-body">
    <p>Undoing deletes or anything is very easy, just hit your browser back button</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="graph"></div>

<p>
    <a href="@{gui.MyDataStreams.finish(encoded)}" class="btn btn-primary">Stream Complete</a>
    <a href="#saveModal" role="button" class="btn btn-primary" data-toggle="modal">Save to Edit Later</a>
    <a href="#undoModal" role="button" class="btn btn-primary" data-toggle="modal">Undo Last Operation</a>
</p>

#{directedgraph encoded:encoded/}
