#{extends '/main_body_container.html' /}
#{set title:'My Groups' /}
#{set tab:'home' /}

#{list aggregation.streams, as:'child'}

#{form @postDeleteStream(), id:'removeStream'+child_index}
<input type="hidden" name="index" value="${child_index}"/>
<input type="hidden" name="encoded" value="${encoded}"/>

<div id="deleteModal${child_index}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete confirmation</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete ${child.name} from the ${aggregation.name} aggregation?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" name="submit" value="Delete" class="btn btn-primary" />
  </div>
</div>
#{/form}

#{/list}

<h1 class="db_page_title">Aggregation '${aggregation.name}'</h1>

<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Actions</th>
	    </tr>
	</thead>
	<tbody>
	#{list aggregation.streams, as:'child'}
	   <tr>
	       <td>${child.name}</a></td>
	       <td>
	       <a href="@{gui.MyDataStreams.editStream(encoded, child_index)}">Edit</a>&nbsp;&nbsp;|&nbsp;
	       <a href="#deleteModal${child_index}" role="button" data-toggle="modal">Delete</a>
	       </td>
	   </tr>
	#{/list}
	#{else}
	   <tr>
	      <td colspan=2>Click Add Stream below to start creating a stream from other streams</td>
	   </tr>
    #{/else}
	</tbody>
</table>

<div id="saveModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Save For Later</h3>
  </div>
  <div class="modal-body">
    <p>Saving where you are is simple, just bookmark the url and come back to this url and it is saved</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="graph"></div>

<p>
  	<a href="@{gui.MyDataStreams.editStream(encoded, -1)}" class="btn btn-primary">Add Stream</a>
  	<a href="@{gui.MyDataStreams.aggregationComplete(encoded)}" class="btn btn-primary">Aggregation Complete</a>
  	<a href="#saveModal" role="button" class="btn btn-primary" data-toggle="modal">Save to Edit Later</a>
</p>

#{directedgraph encoded:encoded/}