#{extends 'main.html' /}
#{set title:'Add/Edit User' /}
#{set tab:'mydata' /}

<div id="noputonstack"></div>

	<h2>Edit User</h2>

<div class="content clearfix">
#{form @MyGroups.postUser(group, type, false), id:'edituser'}

	<input type="text" class="inputtext" name="targetUser.id" value="${targetUser.id}" readonly="readonly">

	#{xfield objectId:'isAdmin',label:'Membership Type', help:'IF the user is an Admin he can add/remove users to/from the group', length:'50'}
		#{generic field}
			#{select 'isAdmin', value:isAdmin, id:'select1'}
				#{option true}Group Admin#{/option}
				#{option false}Member#{/option}
			#{/select}
		#{/generic}
	#{/xfield}

	<div style="clear:both;text-align:center;margin-left:auto;margin-right:auto;">
		<input type="submit" name="submit" value="Save" class="button" />
		<a href="javascript:history.back()" class="button">Cancel</a>
	</div>
#{/form}
</div>
