#{extends 'main.html' /}
#{set title:'Add/Edit Group' /}
#{set tab:'groups' /}

<style>
	.apikey { margin: auto; padding: 10px; background-color:#00aa00; max-width: 900px; }
	.key    { margin: auto; padding: 5px; background-color:#00ff00; }
</style>

<div id="noputonstack"></div>

<h2>View Group</h2>

<div class="content clearfix">

	#{xfield objectId:'groupDbo.name',label:'Group Name', help:'Some help message'}
		#{text field:field, length:50/}
	#{/xfield}
	
	#{xfield objectId:'groupDbo.description',label:'Group Description', help:'Some help message'}
		#{textarea field:field, rows:12, cols:100/}
	#{/xfield}

</div>

 <h2>Members</h2>
    
<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Role</th>
	    </tr>
	</thead>
	<tbody>
	    #{list groupDbo.users, as:'mapping'}
	        <tr>
	            <td>${mapping.entity.name}</td>
	            <td>${mapping.permission}</td>
	        </tr>
	    #{/list}
	</tbody>
</table>

<br><br>
	
<h2>Resources in this Group(first 50 shown)</h2>
	
<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Name</th>
	    </tr>
	</thead>
	<tbody>
	    #{list resources, as:'resource'}
	        <tr>
	            <td><a href="@{MySchemas.viewSchema(resource.resource.name)}">${resource.name}</a></td>
	        </tr>
	    #{/list}    	    
	</tbody>
</table>	


