#{extends './homeTemplate.html' /}
#{set title:'Add/Edit Database' /}
#{set subtab:'cronjobs' /}

<h4>Table Monitors</h4>

If you have a program that constantly updates a table, then you can add a monitor and we will notify you if that table stops seeing updates such that you know to go
check on your client to see if it crashed or what issue has occurred.  We check every 5 minutes and if we have any failures, the worst case is another server takes over
and checks in 10 minutes.

<table class="table">
	<thead>
	    <tr>
	        <th>Table</th>
   	        <th>Poll Time(Minutes)</th>
	        <th>Emails</th>
	    </tr>
	</thead>
	<tbody>
	    #{list monitors, as:'monitor'}
	        <tr>
	            <td><a href="@{monitorEdit(schema.schemaName,monitor.tableName)}"">${monitor.tableName}</a></td>
           	    <td>${monitor.updatePeriod}</td>
	            <td>${monitor.emails}</td>
	        </tr>
	    #{/list}    	    
	</tbody>
</table>

<a href="@{monitorAdd(schema.schemaName)}" class="btn btn-primary">Add Monitor</a><br/>

