#{extends './homeTemplate.html' /}
#{set title:'Add/Edit Database' /}
#{set subtab:'properties' /}

#{form @postDatabase(), id:'editproject', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
    <legend>Database Properties</legend>
   <input type="hidden" name="schema.id" value="${schema?.id}">
   <input type="hidden" name="oldSchemaName" value="${schema?.schemaName}">

	#{xfield objectId:'schema.schemaName',label:'Name', help:'Some help message for schema name'}
		#{text field:field, length:50, class:'input-xlarge'/}
	#{/xfield}
	
	#{xfield objectId:'schema.description',label:'Description', help:'Some help message'}
		#{textarea field:field, rows:12, cols:100, class:'input-xxlarge'/}
	#{/xfield}

    <div class="control-group">
        <div class="controls">
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <a href="javascript:history.back()" class="btn">Cancel</a>
	   </div>
	</div>
#{/form}
