#{extends './homeTemplate.html' /}
#{set title:'Database Tables' /}
#{set subtab:'tables' /}

#{set 'script'}
   Step 7. You are looking at the Tables in this database(one for each sensor)<br/>
   Step 8. Here, you will see subtabs in the left panel for Properties, Tables, Users and Cron Jobs<br/>
   Step 9. Feel free to click on those areas as well(and then come back to this Table subtab)<br/>
   Step 10. You can add Users in the Users subtab or change Properties in the properties subtab<br/>
   Step 11. Under Cron Jobs, Monitors can be setup so that you receive email if a sensor is down<br/>
   Step 12. Automated Data Aggregators(a type of cron job) does not show up under Cron Jobs "yet" and are only accessible via the apis<br/>
   Step 13. Automated Data Aggregators can aggregate minutely data to daily data or daily to monthly or weekly, etc. etc.<br/>
   Step 14. Click on Create Chart of any sensor/table you would like below
#{/set}

<h4>Tables in this Schema(first 50 shown)</h4>
	
<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Charts</th>
	        <th>1000 rows</th>
	        <th>Upload</th>
	    </tr>
	</thead>
	<tbody>
	    #{list tables, as:'table'}
	        <tr>
                    <td><a href="@{gui.MyStuff.tableEdit(table.tableName)}">${table.tableName}</a> (${table.typeOfData})</td>
		        #{if table?.typeOfData == timeseries}
					<td><a href="@{gui.MyStuff.tableChart(table.tableName)}">View Chart</a> / <a href="@{gui.MyStuff.createChart(table.tableName)}">Create Chart</a></td>
				#{/if}
				#{else}
                    <td></td>
				#{/else}
                    <td><a href="@{gui.MyStuff.tableDataset(table.tableName)}">Csv</a> / <a href="@{gui.MyStuff.tableJson(table.tableName)}">Json</a></td>
                    <td><a href="@{gui.Tables.uploadForm(table.tableName)}">Upload Data</td>	            
	        </tr>
	    #{/list}    	    
	</tbody>
</table>	
	
  	*{ <a href="@{tableAdd(schema.schemaName)}">Add Table</a> }*
