#{extends './homeTemplate.html' /}
#{set title:'Database Tables' /}
#{set subtab:'tables' /}

#{set 'script'}
   Step 5. You are looking at the Tables in this database<br/>
   Step 6. Click view chart on some of the charts and come back to this page(ignore steps on view charts and we will come back to those steps later)<br/>
   Step 7. Next, look at the left panel and see Properties, Users, Tables, Cron Jobs<br/>
   Step 8. You can add Users in the Users subtab or change Properties in the properties subtab<br/>
   Step 9. Click on the Cron Jobs subtab
#{/set}

<h4>Tables in this Schema(first 50 shown)</h4>
	
<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Charts</th>
	        <th>1000 rows</th>
	        <th>Upload</th>
	    </tr>
	</thead>
	<tbody>
	    #{list tables, as:'table'}
	        <tr>
                    <td><a href="@{gui.MyStuff.tableEdit(table.tableName)}">${table.tableName}</a> (${table.typeOfData})</td>
		        #{if table?.typeOfData == timeseries}
					<td><a href="@{gui.MyStuff.tableChart(table.tableName)}">View Chart</a> / <a href="@{gui.MyStuff.createChart(table.tableName)}">Create Chart</a></td>
				#{/if}
				#{else}
                    <td></td>
				#{/else}
                    <td><a href="@{gui.MyStuff.tableDataset(table.tableName)}">Csv</a> / <a href="@{gui.MyStuff.tableJson(table.tableName)}">Json</a></td>
                    <td><a href="@{gui.Tables.uploadForm(table.tableName)}">Upload Data</td>	            
	        </tr>
	    #{/list}    	    
	</tbody>
</table>	
	
  	*{ <a href="@{tableAdd(schema.schemaName)}">Add Table</a> }*
