#{extends './homeTemplate.html' /}
#{set title:'Add/Edit Database' /}
#{set subtab:'triggers' /}

<!-- ADD/EDIT MODAL BLOCK -->
<!--=======================================-->
#{CRUD/triggerAddEditPopup schema:schema/}

<!-- DELETE MODAL BLOCK -->
<!--=======================================-->
#{CRUD/triggerDeletePopup schema:schema, triggers:triggers/}

<h4>Triggers</h4>

Cron Jobs are added through the api and will call a url for a scheduled period

<table class="table">
    <thead>
        <tr>
            <th>Table Name</th>
            <th>Script Language</th>
            <th>Callback</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{list triggers, as:'trigger'}
            <tr>
                <td>${trigger.table}</td>
                <td>${trigger.scriptLanguage}</td>
                <td>${trigger.callback}</td>
                <td>
                        <a id="dbAddEditModal_${trigger.table}" href="#myAddEditModal" data-toggle="modal">
                            edit
                        </a>
                        &nbsp;&nbsp;|&nbsp;
                        <a href="#deleteModal_${trigger_index}" data-toggle="modal">
                            delete
                        </a>
                        
                        <script type="text/javascript">
                            $('body').on('click', '#dbAddEditModal_${trigger.table}', function (e) {
                                populateModal('Edit Trigger', true, '${trigger.table}', 
                                		'${trigger.scriptLanguage?.escapeJavaScript()}', 
                                		'${trigger.callback?.escapeJavaScript()}',
                                		'${trigger.script?.escapeJavaScript()}');
                        });
                        </script>
                </td>
            </tr>
        #{/list}
    </tbody>
</table>

<a id="dbAddEditModal_add" href="#myAddEditModal" data-toggle="modal" class="btn btn-primary">Add Trigger</a>
<script type="text/javascript">
       $('body').on('click', '#dbAddEditModal_add', function (e) {
             populateModal('New Trigger', false, '', '', '', '');
       });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        #{if showModal}
            populateModal('New Trigger', true, '', '', '', '');
            $("#myAddEditModal").modal('show');
        #{/if}
    });
    
    function populateModal(modalTitle, tableReadOnly, id, lang, callback, script) {
        $('#addEditModalLabel').html(modalTitle);
        $('#entityTable').val(id);
        $('#entityTable').attr('readonly', tableReadOnly);
        $('#entityLang').val(lang);
        $('#entityCallback').val(callback);
        $('#entityScript').val(script);
    }
</script>

