#{extends './homeTemplate.html' /}
#{set title:'Add/Edit Database' /}
#{set subtab:'triggers' /}

<!-- ADD/EDIT MODAL BLOCK -->
<!--=======================================-->
#{CRUD/triggerAddEditPopup schema:schema/}

<h4>Triggers</h4>

Cron Jobs are added through the api and will call a url for a scheduled period

<table class="table">
    <thead>
        <tr>
            <th>Table Name</th>
            <th>Script Language</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{list triggers, as:'trigger'}
            <tr>
                <td>${trigger.url}</td>
                <td>${trigger.rate}</td>
                <td>
                        <a id="dbAddEditModal_${trigger.table}" href="#myAddEditModal" data-toggle="modal">
                            edit
                        </a>
                        &nbsp;&nbsp;|&nbsp;
                        <a id="dbDeleteModal_${trigger.table}" href="#myDeleteModal" data-toggle="modal">
                            delete
                        </a>
                        
                        <script type="text/javascript">
                            $('body').on('click', '#dbAddEditModal_${trigger.table}', function (e) {
                                populateModal('Edit Database', '${database.getId()}', '${database.getSchemaName()}', true, '${database?.description?.escapeJavaScript()}');
                        });
                        </script>
                </td>
            </tr>
        #{/list}            
    </tbody>
</table>

<a id="dbAddEditModal_add" href="#myAddEditModal" data-toggle="modal" class="btn btn-primary">Add Trigger</a>
<script type="text/javascript">
       $('body').on('click', '#dbAddEditModal_add', function (e) {
             populateModal('New Database', '', '', false, '');
       });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        #{if showModal}
            populateModal('New Trigger', '', '', false, '${postedDatabase?.description?.escapeJavaScript()}');
            $("#myAddEditModal").modal('show');
        #{/if}
    });
    
    function populateModal(modalTitle, dbID, dbName, dbNameReadonly, dbDescription) {
        $('#addEditModalLabel').html(modalTitle);
        $('#addEditDatabase_dbID').val(dbID);
        $('#entityName').val(dbName);
        $('#addEditDatabase_dbName').attr('readonly', dbNameReadonly);
        $('#addEditDatabase_dbDescription').val(dbDescription);
    }
</script>

