#{extends './homeTemplate.html' /}
#{set title:'Add/Edit Database' /}
#{set subtab:'users' /}

 <h4>Users</h4>

<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Type</th>
	        <th>Role</th>
	    </tr>
	</thead>
	<tbody>
	    #{list schema.entitiesWithAccess, as:'xref'}
	        <tr>
	        	#{if xref.userOrGroup.classType == "group"}
		            	<td><a href="@{gui.MyGroups.groupProperties(xref.userOrGroup.name)}">${xref.userOrGroup.name}</a> (<a href="@{dbUserEdit(schema.schemaName, 'group', xref.userOrGroup.name)}">edit</a>)</td>
		            	<td>Group</td> 
	            #{/if}
	            #{if xref.userOrGroup.classType == "userImpl"}
		            	<td>${xref.userOrGroup.name} (<a href="@{dbUserEdit(schema.schemaName, 'user', xref.userOrGroup.name)}">edit</a>)</td> 
		            	<td>User</td>
	            #{/if}
	            
	            <td>${xref.permission}</td>
	        </tr>
	    #{/list}
	</tbody>
</table>

<a href="@{dbUserAdd(schema.schemaName, 'user')}" class="btn btn-primary">Add User</a>
<a href="@{dbUserAdd(schema.schemaName, 'group')}" class="btn btn-primary">Add Group</a>
