#{extends './homeTemplate.html' /}
#{set title:'Add/Edit Database' /}
#{set subtab:'users' /}

 <h4>Users</h4>

#{list schema.entitiesWithAccess, as:'xref'}

#{form @postDbUserDelete(), id:'removeDbUser'+xref_index}
<input type="hidden" name="xrefId" value="${xref.id}"/>
<input type="hidden" name="schemaName" value="${schema.name}"/>

<div id="myModal${xref_index}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Remove confirmation</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to remove ${xref.userOrGroup.name} from the ${schema.name} database?  <br>If this schema contains many tables this operation could take some time.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" name="submit" value="Delete" class="btn btn-primary" />
  </div>
</div>
#{/form}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">  
</script>
<script type="text/javascript">   
   $(document).ready(function () {
    $('#removeDbUser${xref_index}').submit(function () {
        $(".btn").attr("disabled", true);
        $(".close").attr("disabled", true);
        return true;
    });
});

</script>
<!--script ends here-->

#{/list}

<!--script to disable the submit button -->


<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Type</th>
	        <th>Role</th>
	        <th>Actions</th>
	    </tr>
	</thead>
	<tbody>
	    #{list schema.entitiesWithAccess, as:'xref'}
	        <tr>
	        	#{if xref.userOrGroup.classType == "group"}
		            	<td><a href="@{gui.MyGroups.groupProperties(xref.userOrGroup.name)}">${xref.userOrGroup.name}</a></td>
		            	<td>Group</td> 
	            #{/if}
	            #{if xref.userOrGroup.classType == "userImpl"}
		            	<td>${xref.userOrGroup.name}</td> 
		            	<td>User</td>
	            #{/if}
	            <td>${xref.permission}</td>
	            <td>
	                #{if xref.userOrGroup.classType == "group"}
                        <a href="@{dbUserEdit(schema.schemaName, 'group', xref.userOrGroup.name)}">edit</a>&nbsp;&nbsp;|&nbsp;
                    #{/if}
                    #{if xref.userOrGroup.classType == "userImpl"}
                        <a href="@{dbUserEdit(schema.schemaName, 'user', xref.userOrGroup.name)}">edit</a>&nbsp;&nbsp;|&nbsp;
                    #{/if}
                    <a href="#myModal${xref_index}" data-toggle="modal">remove</a>
	            </td>
	        </tr>
	    #{/list}
	</tbody>
</table>
            
<a href="@{dbUserAdd(schema.schemaName, 'user')}" class="btn btn-primary">Add User</a>
<a href="@{dbUserAdd(schema.schemaName, 'group')}" class="btn btn-primary">Add Group</a>

