#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Add/Edit Monitor' /}

#{form @postMonitor(schemaDbo.schemaName), id:'editmonitor', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}

    <legend>Add/Edit Monitor</legend>

	<input type="hidden" name="monitor.id" value="${monitor?.id}">
	
	#{xfield objectId:'monitor.tableName',label:'Table Name', help:'The table name we will monitor'}
		#{text field:field, length:50/}
	#{/xfield}

	#{xfield objectId:'monitor.updatePeriod',label:'Update Frequency(minutes)', help:'The Period the table is updated in the system'}
		#{text field:field, length:15/}
	#{/xfield}

	#{xfield objectId:'monitor.emails',label:'Emails', help:'Comma delimited list of emails to notify when table is not being updated'}
		#{textarea field:field, rows:6, cols:100, class:'input-xxlarge'/}
	#{/xfield}
	
	<div class="control-group">
	   <div class="controls">
		  <input type="submit" name="submit" value="Save" class="btn btn-primary" />
		  <a href="javascript:history.back()" class="btn">Cancel</a>
		</div>
	</div>
#{/form}
