#{extends '/main_body_container.html' /}
#{set title:'My Databases' /}
#{set tab:'home' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 3. You are now viewing the databases you have access to(and each database has many tables)</br>
   We have created and given you access to a DemoDatabase.  You can create your own databases and give users access to those</br>
   Step 4. Next, please click on the DemoDatabase link
</div>
%{
    }
}%

<h1 class="db_page_title">My Databases</h1>

<p>These are the databases you have access to.  Each database may contain multiple tables</p>

     
<table class="table">
	<thead>
	    <tr>
	        <th>Name</th>
	    </tr>
	</thead>
	<tbody>
	    #{list user.schemas, as:'schema'}
	        <tr>
	            <td><a href="@{viewDatabase(schema.resource.schemaName)}">${schema.getResource().getSchemaName()}</a></td>
	        </tr>
	    #{/list}
	    #{else}
	    <tr>
			<td colspan=2>You do not own to any Schemas yet.  <a href="@{dbProperties(null)}">Add a Schema Now!!!</a></td>
		</tr>
	    #{/else}
	</tbody>
</table>
  
<p>
  	<a href="@{dbProperties(null)}" class="btn btn-primary">Add Database</a>
</p>
  
