#{extends '/main_body_container.html' /}
#{set title:'My Databases' /}
#{set tab:'home' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 5. You are now viewing the databases you have access to(and each database has many tables)</br>
   We have created and given you access to a DemoDatabase.  You can create your own databases and give users access to those</br>
   Step 6. Next, please click on the DemoDatabase link
</div>
%{
    }
}%

<h1 class="db_page_title">My Databases</h1>

<p>These are the databases you have access to.  Each database may contain multiple tables</p>

<!-- ADD/EDIT MODAL BLOCK -->
<!--=======================================-->
#{CRUD/dbAddEditPopup /}

<!-- DELETE MODAL BLOCK-->
<!--=======================================-->
#{CRUD/dbDeletePopup /}

<div class="span8">
	<table class="table">
		<thead>
		    <tr>
		        <th>Name</th>
		    </tr>
		</thead>
		<tbody>
		    #{list databases, as:'database'}
		        <tr>
		            <td><a href="@{viewDatabase(database.schemaName)}">${database.getSchemaName()}</a></td>
		            <td style="text-align: right;">
		                <a id="dbAddEditModal_${database.getSchemaName()}" href="#myAddEditModal" data-toggle="modal">
		                	edit
		                </a>
		                &nbsp;&nbsp;|&nbsp;
		                <a id="dbDeleteModal_${database.getSchemaName()}" href="#myDeleteModal" data-toggle="modal">
	                        delete
		                </a>
		                
		                <script type="text/javascript">
		                	$('body').on('click', '#dbAddEditModal_${database.getSchemaName()}', function (e) {
		                		populateModal('Edit Database', '${database.getId()}', '${database.getSchemaName()}', true, '${database?.description?.escapeJavaScript()}');
						});
		                </script>
		            </td>
		        </tr>
		    #{/list}
		    #{else}
		    <tr>
				<td colspan=2>
					You do not own any Databases yet.  <a id="dbAddEditModal_add_none" href="#myAddEditModal" data-toggle="modal">Add a Database Now!!!</a>
					<script type="text/javascript">
		                	$('body').on('click', '#dbAddEditModal_add_none', function (e) {
		                		populateModal('New Database', '', '', false, '');
						});
		               </script>
				</td>
			</tr>
		    #{/else}
		</tbody>
	</table>
</div>
<div class="span4"></div>
  
<p style="clear: both;">
  	<a id="dbAddEditModal_add" href="#myAddEditModal" data-toggle="modal" class="btn btn-primary">Add Database</a>
  	<script type="text/javascript">
	    	$('body').on('click', '#dbAddEditModal_add', function (e) {
		     populateModal('New Database', '', '', false, '');
		});
	</script>
</p>

<script type="text/javascript">
	$(document).ready(function() {
		#{if showModal}
			populateModal('New Database', '', '', false, '${postedDatabase?.description?.escapeJavaScript()}');
			$("#myAddEditModal").modal('show');
		#{/if}
	});
	
	function populateModal(modalTitle, dbID, dbName, dbNameReadonly, dbDescription) {
		$('#addEditModalLabel').html(modalTitle);
		$('#addEditDatabase_dbID').val(dbID);
		$('#addEditDatabase_dbName').val(dbName);
		$('#addEditDatabase_dbName').attr('readonly', dbNameReadonly);
		$('#addEditDatabase_dbDescription').val(dbDescription);
	}
</script>
  
