<!--=======================================-->
<!-- The following is the ADD/EDIT MODAL BLOCK -->
<!--=======================================-->
#{form @postUser(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
	<div id="myAddEditModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addEditModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="addEditModalLabel">User Properties</h3>
		</div>
		<div id="dbAddEditModal_content" class="modal-body" style="max-height:900px">
		    #{field 'entity.username'}
            <div class="control-group ${field.errorClass}">
                <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>Username</label>
                <div class="controls">
                    <input id="entityUsername" type="text" name="${field.name}" value="" class="input-xlarge">
                    <span class="help-block">${field.error}</span>
                </div>
            </div>
            #{/field}
            
            #{field 'entity.password'}
            <div class="control-group ${field.errorClass}">
                <label class="control-label"><a href="#" rel="tooltip" title="Some help message for schema name"><i class="icon-info-sign"></i></a>Password</label>
                <div class="controls">
                    <input id="entityPassword" type="text" name="${field.name}" value="" class="input-xlarge">
                    <span class="help-block">${field.error}</span>
                </div>
            </div>
            #{/field}
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<input type="submit" name="submit" value="Save" class="btn btn-primary" />
		</div>
	</div>
#{/form}
<!--=======================================-->
<!-- End of EDIT MODAL BLOCK -->
<!--=======================================-->