<!--=======================================-->
<!--The following is the DELETE MODAL BLOCK-->
<!--=======================================-->
<div id="myDeleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myDeleteModalLabel">Delete confirmation</h3>
  </div>
  <div class="modal-body">
  	<p>
        The action of deleting an entire Database, including all of its' tables and data, is
        a very invasive change to the system.  As of right now we do not support removing
        entire databases. 
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!--=======================================-->
<!--End of DELETE MODAL BLOCK-->
<!--=======================================-->