#{extends '/_index.html' /}
#{set title:'My Databus' /}
#{set tab:'home' /}

<!-- PillTree component -->
<link href="/public/stylesheets/components/pilltree/pilltree.css" rel="stylesheet" type="text/css">
<link href="/public/stylesheets/components/pilltree/pilltree_mydatabus.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/javascripts/components/pilltree/pilltree_mydatabus.js"></script>

<div class="databus_summary_navigation span3" style="margin-left: 0px;">
	<div class="my_databus_legend well">
		<div id="label1" class="legend_item">
			<div class="legend_item_graphic cell_color_admin"></div>
			<div style="margin-left:  3px; float: left; font-size: .8em;">Administrator</div>
		</div>
		<div id="label2" class="legend_item" >
			<div class="legend_item_graphic cell_color_readwrite"></div>
			<div style="margin-left:  3px; float: left; font-size: .8em;">Read & Write</div>
		</div>
		<div id="label3" class="legend_item">
			<div class="legend_item_graphic cell_color_readonly"></div>
			<div style="margin-left:  3px; float: left; font-size: .8em;">Read Only</div>
		</div>
		<div id="label4" class="legend_item" >
			<div class="legend_item_graphic cell_color_system"></div>
			<div style="margin-left:  3px; float: left; font-size: .8em;">Inaccessible</div>
		</div>			
	</div>
	<div class="databus_summary_tree" style="clear: left;">
		<div class="pilltree" style="margin-left: -12px; white-space:nowrap;">
	     	<ul>
	     		<li id="pilltree_base">
	     			<a id="pilltree_main_parent" >Databus</a>
		     		<ul>
		               	<li>
		               		<a id="database_main_parent" >Databases</a>
			               	<ul>
				               	<li>
				               		<a id="db_admin" >Owned (${myDatabases.size()})</a>
				               		<ul>
				               			#{list items:myDatabases.keySet(), as:'key'}
											<li><a id="${key.schemaName.slugify()}_admin_db" style="font-weight: bold;" >${key.schemaName}<br/><span class="pilltree_user_or_group">Membership: ${myDatabases.get(key)}</span></a>
												<ul>
													<li><a >Tables</a></li>
													<li><a >Groups</a></li>
													<li><a >Users</a></li>
												</ul>
											</li>
										#{/list}
				               		</ul>
				               	</li>
				               	<li>
				               		<a id="db_readwrite" >Read & Write (${readwriteDatabases.size()})</a>
				               		<ul>
				               			#{list items:readwriteDatabases.keySet(), as:'key'}
											<li><a id="${key.schemaName.slugify()}_readwrite_db" style="font-weight: bold;" >${key.schemaName}<br/><span class="pilltree_user_or_group">Membership: ${readwriteDatabases.get(key)}</span></a>
												<ul>
													<li><a >Tables</a></li>
													<li><a >Groups</a></li>
													<li><a >Users</a></li>
												</ul>
											</li>
										#{/list}
				               		</ul>
				               	</li>
				               	<li>
				               		<a id="db_readonly" >Read Only (${readableDatabases.size()})</a>
				               		<ul>
				               			#{list items:readableDatabases.keySet(), as:'key'}
											<li><a id="${key.schemaName.slugify()}_readonly_db" style="font-weight: bold;" >${key.schemaName}<br/><span class="pilltree_user_or_group">Membership: ${readableDatabases.get(key)}</span></a>
												<ul>
													<li><a >Tables</a></li>
													<li><a >Groups</a></li>
													<li><a >Users</a></li>
												</ul>
											</li>
										#{/list}
				               		</ul>
				               	</li>
				               	<li>
				               		<a id="db_system" >Inaccessible (${systemDatabases.size()})</a>
				               		<ul>
										#{list systemDatabases, as:'db'}
											<li><a id="${db.schemaName.slugify()}_system_db" >${db.schemaName}</a></li> 
										#{/list}
				               		</ul>
				               	</li>
				               </ul>
				          </li>
		               	<li>
		               		<a id="group_main_parent" >Groups</a>
		               		<ul>
				               	<li>
				               		<a id="group_admin" >Group Admin (${adminGroups.size()})</a>
				               		<ul>
				               			#{list adminGroups, as:'group'}
											<li><a id="${group.name.slugify()}_admin_group" style="font-weight: bold;" >${group.name}</a>
												<ul>
													<li><a >Users</a></li>
													<li><a >Robots</a></li>
													<li><a >Databases</a></li>
												</ul>
											</li> 
										#{/list}
				               		</ul>
				               	</li>
				               	<li>
				               		<a id="group_readonly" >Group Member (${memberGroups.size()})</a>
				               		<ul>
				               			#{list memberGroups, as:'group'}
											<li><a id="${group.name.slugify()}_readonly_group" style="font-weight: bold;" >${group.name}</a>
												<ul>
													<li><a >Administrators</a></li>
													<li><a >Databases</a></li>
												</ul>
											</li> 
										#{/list}
				               		</ul>
				               	</li>
		               			<li>
		               				<a id="group_system" >Non-Member Groups (${systemGroups.size()})</a>
				               		<ul>
				               			#{list systemGroups, as:'group'}
											<li><a id="${group.name.slugify()}_system_group" >${group.name}</a>
												<ul>
													<li><a >Administrators</a></li>
												</ul>
											</li> 
										#{/list}
				               		</ul>
				               	</li>
		               		</ul>
		               	</li>
		               </ul>
		          </li>
	     	</ul>
	     </div>
	</div>
 </div>
 
 <div id="my_databus_content" class="databus_summary_content span9" style="max-height: 700px; overflow-y: auto; margin-left: 0px;"> 	
 </div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#pilltree_main_parent').click();
	});
	
	$('#pilltree_main_parent').on('click', function (e) {
		$.get("@{gui.MyDatabus.databusSummary()}", function(data) {
			$('#my_databus_content').html(data);
		});
    	});
    	
    	$('#database_main_parent').on('click', function (e) {
		$.get("@{gui.MyDatabus.databusDatabases()}", function(data) {
			$('#my_databus_content').html(data);
		});
    	});
    	
    	$('#group_main_parent').on('click', function (e) {
		$.get("@{gui.MyDatabus.databusGroups()}", function(data) {
			$('#my_databus_content').html(data);
		});
    	});
</script>







