#{extends 'main.html' /}
#{set title:'Home' /}
#{set tab:'home' /}

If you are new to this system, you have a few options
<ol>
   <li>Have someone add you to a User Group that gives you access to their Schemas and tables</li>
   <li>Create a User Group and Schema. Add tables to your Schema and users to your User Group so those Users can access your data</li>
</ol>

User Groups contain users.  Schemas contain tables.  You can then assign a User or User Group access to those Schemas or tables.  This
 is useful so that if you want to give Nick all the access that Aaron has, you can just add Nick to the same UserGroup that Aaron is already
 in and any Schemas or tables that Aaron had access to, Nick now has access to.

<h2>User Groups</h2>

If you want to be added to a User Group, you need to talk to the User Group's Admin.  Group Admins add/remove users to/from a User Group and that is all.

<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Group Admins</th>
	    </tr>
	</thead>
	<tbody>
	    #{list groups, as:'group'}
	        <tr>
	            <td>
		            <span class="help" onmouseover="showTip(this)" onmouseout="hideTip(this)">
		            	<a href="@{MyGroups.editGroup(group.name)}">${group.name}</a>
		            	<div id="tip_d_ds1_1" class="tip tipright">${group.description}</div>
		            </span>
	            </td>
	            <td>
	            #{list group.children, as:'mapping'}
	            	#{if mapping.groupAdmin}
		            	${mapping.entity.name} 
	            	#{/if}
	            #{/list}
	            </td>
	        </tr>
	    #{/list}
	</tbody>
</table>

<h2>Schemas</h2>

Schemas contain tables that admins of the schema can give users or groups access to.  Some schemas contain 1 to 10 tables while other Schemas contain 30,000 tables.  If
you want access to one of the schemas, talk to one of the users listed.
<br /><br />

<table border="1" class="data" cellpadding="5" cellspacing="0">
	<thead>
	    <tr>
	        <th>Name</th>
	        <th>Admins</th>
	    </tr>
	</thead>
	<tbody>
		#{list schemas, as:'schema'}
	        <tr>
	            <td>
	          	    <span class="help" onmouseover="showTip(this)" onmouseout="hideTip(this)">
	                	<a href="@{MySchemas.editSchema(schema.schemaName)}">${schema.schemaName}</a>
		            	<div class="tip tipright">${schema.description}</div>
		            </span>
	            </td>
	            <td>
	            #{list schema.entitiesWithAccess, as:'user'}
					${user.userOrGroup.name}  
	            #{/list}
	            </td>
	        </tr>
	    #{/list}
	</tbody>
</table>