.db_summary_chart {
	margin-top: 5px;
	height: 260px;
}

.db_chart_table {
	background-color: #ffffff;
	height: 260px;
	width: 100%;
	margin-top: 5px;
}

.chart {
	display:inline-block;
	height:100%;
	width: 100%;
}

.overlay {
	left:0;
	overflow:hidden;
	position:relative;
	top:0;
	z-index:99999;
}

.chart_alert {
	margin-top: 225px;
}

.chart_load {
	margin-top: 225px;
	margin: auto;
}

