#{extends './settings.html' /}
#{set title:'Add Chart' /}
#{set subtab:'addchart'/}

#{set 'script'}
   Step 32. We can embed charts from other servers so here enter a title in<br/>
   Step 33. Next copy and paste the maps.google.com url below into the url field<br/>
   Step 34. Next click the Test button<br/>
   Step 35. Lastly, click the Save button
#{/set}

<div class="row-fluid">
	<div class="span12">
		<legend>
			Add Chart
		</legend>
		<p>
			You can create charts with the <a href="@{gui.MyChartsGeneric.selectChart()}">Create Chart Wizard</a>.  The chart created
			will have an "Add to Dashboard" button.  The below url is used to put stuff like google maps or other external embeddable 
			websites.  For example, on the below form, try
			using this url https://maps.google.com/?ie=UTF8&ll=38.997934,-105.550567&spn=4.823033,8.118896&t=h&z=7&output=embed
		</p>
		#{form @postSaveChart(), id:'saveembeddedchartsettings'}
		<div class="row-fluid">
			<div class="span12" style="margin-top: 20px; margin-left: 40px;">
				<table class="table-condensed">
					<tbody>
						<tr>
							<td class="db_settings_label_td table-bordered">
								Chart Title:
							</td>
							<td class="db_settings_input_td table-bordered">
								<input id="embedded_chart_name" name="title" class="input-large" type="text" placeholder="Enter a chart name..." style="margin-bottom: 0px; height: 25px; font-size: 16px;">
							</td>
							<td></td>
						</tr>
						<tr>
							<td class="db_settings_label_td table-bordered">
								URL:
							</td>
							<td class="db_settings_input_td table-bordered">
								<div class="input-append" style="margin-bottom: 0px;">
									<input id="embedded_chart_url" name="chartUrl" class="input-xxlarge" type="text" placeholder="Chart URL..." style="margin-bottom: 0px; height: 25px; font-size: 16px;">
									<a id="test_embedded_chart" class="btn" style="height: 20px; font-size: 12px; padding-left: 8px; padding-top: 7px; padding-bottom: 6px;">Test</a>
								</div>
							</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3" align="center">
								<div class="span12" style="margin: auto;">
									<div id="preview" style="height: 300px">
                                       <iframe style="border: none;" width="100%" height="100%" src="http://localhost:9000/charts/smallchart/FakeChart-js/eyJ0aXRsZSI6IlByZXZpZXciLCJ5YXhpc0xhYmVsIjoiTGVuZ3RoIiwibXNnIjoiQSBwcmV2aWV3IG9mIHlvdXIgY2hhcnQgd2lsbCByZXBsYWNlIHRoaXMgZXhhbXBsZSBhZnRlciBjbGlja2luZyBUZXN0IiwidW5pdHMiOiJpbmNoZXMifQ"></iframe>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span2 controls" style="margin-top: 12px;">
				<input id="embedded_submit" type="submit" name="submit" value="Save" class="btn btn-primary" />
				*{ <a id="clear_embedded_chart_form" class="btn">Clear</a> }*
			</div>
			<div id="embedded_warning" class="span6 alert alert-error"></div>
			<div class="span3"></div>
		</div>
		#{/form}
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		/**
		 * Remove form enter key submit
		 */
		$('#saveembeddedchartsettings input').keydown(function(event){
			if(event.keyCode == 13) {
				event.preventDefault();
				return false;
			}
		});
		
		$('#embedded_warning').hide();
	});
	
	$('#embedded_submit').on('click', function (e) {
		if($('#embedded_chart_url').val() === "") {
			$('#embedded_warning').show();
			$('#embedded_warning').html("The chart must have a url before it can be saved.");
			e.preventDefault();
			return;	
		}
	});
	
	$('#test_embedded_chart').on('click', function (e) {
		$('#embedded_warning').html("");
		$('#embedded_warning').hide();
		
		if($('#embedded_chart_url').val() != "") {
			var embeddedChartURL = $('#embedded_chart_url').val();
			$('#preview').html('<iframe width="100%" height="100%" src="'+embeddedChartURL+'"></iframe>');
		}
    });
	
</script>

