#{extends './settings.html' /}
#{set title:'Charts' /}
#{set subtab:'charts'/}


<table class="table">
    <thead>
        <tr>
            <th>Chart</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{list charts, as:'chart'}
            <tr>
                <td>${chart.title}</td>
                <td>#{form @postDeleteChart(chart.id), style:'margin: 0px 0px 0px 0px;', id:chart.id}<input id="delete" type="submit" name="submit" value="Delete" class="btn btn-primary" />#{/form}</td>
            </tr>
        #{/list}
        #{else}
        <tr>
            <td colspan=2>You do not have any Charts yet.  <a href="@{gui.MyChartsGeneric.selectChart()}">Add a Chart Now!!!</a></td>
        </tr>
        #{/else}
    </tbody>
</table>