#{extends './settings.html' /}
#{set title:'My Account' /}
#{set subtab:'dashboard'/}

<script type="text/javascript">
    *{
    	This is not the best way of doing this as it generates more text to send to browser(in the case of many many charts)
    	but for now it works just fine and at least we then don't need a callback to the server to
    	form the url...instead we can just form the url on browser side
    }*
    var scriptCharts = {};
	#{list charts, as:'chart'}
		scriptCharts['${chart.id}'] = {};
		scriptCharts['${chart.id}'].encoding = '${chart.encodedVariables}';
		scriptCharts['${chart.id}'].chartId = '${chart.chartId}';
	#{/list}
</script>

Any changes are not applied until you click the Save button

#{form @postSaveAccountSettings(), id:'savesettings'}

    <input type="hidden" name="user.id" value="${user.id}"/>

	<div class="row-fluid">
    	<div class="span3">
			<fieldset>
				<div id="dashboard_controls">
					<label>
						Number of Dashboard Charts &nbsp;
						#{select 'user.settings.dashboardChartCount', value:user.settings.dashboardChartCount, id:'dashboard_chart_count', class:'span3'}
						      #{option 1}1#{/option}
						      #{option 2}2#{/option}
						      #{option 3}3#{/option}
						      #{option 4}4#{/option}
						#{/select}
					</label>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" name="submit" value="Save" class="btn btn-primary" />
						<a href="javascript:history.back()" class="btn">Cancel</a>
					</div>
				</div>
			</fieldset>
		</div>
	  	<div class="span9" id="dashboard_chart_area" style="margin: 10px">
	  		<div class="span12">
		    	<div>
					<div class="row-fluid" id="choose_charts_option4">
						<div class="span12" style="clear: both; margin-left: 25px;">
							<span id="select1_control" class="span6">
								Dashboard Chart #1: &nbsp;
								#{select 'user.settings.chart1Id', id:'select1', items:charts, valueProperty:'id', labelProperty:'title', value:user.settings.chart1Id/}
							</span>
							<span id="select2_control" class="span6">
								Dashboard Chart #2: &nbsp;
								#{select 'user.settings.chart2Id', id:'select2', items:charts, valueProperty:'id', labelProperty:'title', value:user.settings.chart2Id/}
							</span>
					    </div>
					    <div class="span12" style="clear: both; margin-left: 25px; padding-top:25px;">
					    	<span id="select3_control" class="span6">
								Dashboard Chart #3: &nbsp;
								#{select 'user.settings.chart3Id', id:'select3', items:charts, valueProperty:'id', labelProperty:'title', value:user.settings.chart3Id/}
							</span>
							<span id="select4_control" class="span6">
								Dashboard Chart #4: &nbsp;
								#{select 'user.settings.chart4Id', id:'select4', items:charts, valueProperty:'id', labelProperty:'title', value:user.settings.chart4Id/}
							</span>
						</div>
					</div>
					<div id="single_chart" style="display: none;">
					   #{dashboardCharts/chartsingle user:user/}
					</div>
					<div id="dual_chart" style="display: none;">
					   #{dashboardCharts/chartsdual user:user /}
					</div>
					<div id="triple_chart" style="display: none;">
					   #{dashboardCharts/chartsthree user:user/}
					</div>
					<div id="quadruple_chart" style="display: none;">
					   #{dashboardCharts/chartsfour user:user /}
					</div>
		        </div>
		  </div>
	</div>
#{/form}

<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/includes/highcharts/highstock.js"></script>

<!-- Our HighCharts code -->
<!--<script src="/public/javascripts/charts.js" type="text/javascript"></script>
<link href="/public/stylesheets/charts.css" rel="stylesheet" type="text/css">-->

<script type="text/javascript">
		$(document).ready(function() {
			var numCharts = parseInt($("#dashboard_chart_count :selected").text());
			showChartSelection(numCharts);   
		});
		$('#dashboard_chart_count').change(function() {
			var numCharts = parseInt($("#dashboard_chart_count :selected").text());
			
			//we must reload the charts in case they switch from small to large or back, etc.
			var val = $("#select1").val();
			loadChart('0', val);
            val = $("#select2").val();
            loadChart('1', val);
            val = $("#select3").val();
            loadChart('2', val);
            val = $("#select4").val();
            loadChart('3', val);
            
			showChartSelection(numCharts);
		});
		
		function showChartSelection(count) {
			$(function () {				 
				switch(count) {
					case 1: {
						$('#single_chart').show();
						$('#dual_chart').hide();
						$('#triple_chart').hide();
						$('#quadruple_chart').hide();
						$('#select2_control').hide();
						$('#select3_control').hide();
						$('#select4_control').hide();
						break;
					}
					case 2: {
						$('#single_chart').hide();
						$('#dual_chart').show();
						$('#triple_chart').hide();
						$('#quadruple_chart').hide();
						$('#select2_control').show();
						$('#select3_control').hide();
						$('#select4_control').hide();
						break;
					}
					case 3: {
						$('#single_chart').hide();
						$('#dual_chart').hide();
						$('#triple_chart').show();
						$('#quadruple_chart').hide();
						$('#select2_control').show();
						$('#select3_control').show();
						$('#select4_control').hide();
						break;
					}
					case 4: {
						$('#single_chart').hide();
						$('#dual_chart').hide();
						$('#triple_chart').hide();
						$('#quadruple_chart').show();
						$('#select2_control').show();
						$('#select3_control').show();
						$('#select4_control').show();
						break;
					}
				}
			});
		}
				
		// Option 1
		$('#select1').change(function() {
			var val = this.value;
			console.log("chartval="+val);
			loadChart('0', val);
		});
		
		// Option 2
		$('#select2').change(function() {
            var val = this.value;
            console.log("chartval="+val);
            loadChart('1', val);
		});
		
		$('#select3').change(function() {
            var val = this.value;
            console.log("chartval="+val);
            loadChart('2', val);
		});
		
		// Option 3
		$('#select4').change(function() {
            var val = this.value;
            console.log("chartval="+val);
            loadChart('3', val);
		});

		function loadChart(pulldownIndex, id) {
			var numCharts = parseInt($("#dashboard_chart_count :selected").text());
			var chart = scriptCharts[id];
			var encodedVars = chart.encoding;
			var chartId = chart.chartId;

			var type = 'smallchart';
			if(numCharts == 1 || numCharts == 2) 
				type = 'largechart';
			else if(numCharts == 3) {
				if(pulldownIndex == 2)
					type = 'largechart';
			}
			
	         var url = '/charts/'+type+'/'+chartId+'/'+encodedVars;
			if(pulldownIndex == 0) {
				//switch the first chart in every view
				$('#chart_1_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
				$('#chart_2_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
				$('#chart_4_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
				$('#chart_7_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
			} else if(pulldownIndex == 1) {
				//switch the second chart in every view(first view only has one chart)
				$('#chart_3_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
				$('#chart_5_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
				$('#chart_8_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
			} else if(pulldownIndex == 2) {
				//switch the 3rd chart in every view(first and second views have 2 or less charts)
				$('#chart_6_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
				$('#chart_9_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
			} else if(pulldownIndex == 3) {
				$('#chart_10_area').html('<iframe style="border: none;" width="100%" height="100%" src="'+url+'"></iframe>');
			}
		};

</script>
