#{extends './dashTemplate.html' /}
#{set title:'Dashboard' /}
#{set subtab:'dashboard' /}

#{set 'script'}
   Step 1. You are on the customizable dashboard page<br/>
   Step 3. We will customize the dashboard later<br/>
   Step 4. BIG NOTE: This system has no limit on scaling to millions of sensors..Add more nodes and it can handle more sensors<br/>
   Step 2. Next, please click on My Databus, then click on Databases
#{/set}

	       #{if user.settings.dashboardChartCount == 1}
    			#{dashboardCharts/chartsingle url:user.getChartUrl(0).raw()/}
    		#{/if}
    		#{elseif user.settings.dashboardChartCount == 2}
    			#{dashboardCharts/chartsdual user:user/}
    		#{/elseif}
    		#{elseif user.settings.dashboardChartCount == 3}
		    	#{dashboardCharts/chartsthree user:user/}
		    #{/elseif}
		    #{else}
		    	#{dashboardCharts/chartsfour user:user/}
		    #{/else}

