#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Create Chart' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 8. Fill in "time" for the timeColumn since this table uses the column time<br/>
   Step 9. Fill in "value" for the Series 1 name and click Create Chart<br/>
</div>
%{
    }
}%

#{form @postVariables(chartId, page, encoded), id:'editmonitor', class:'form-horizontal', style:'min-width:100px;max-width:1100px;margin: 0 auto'}

    <legend>Create Chart ""${chart.name}" ${subtitle}</legend>

    #{list items:pageMeta.variables, as:'v'}
	    <div class="control-group ${errors.forKey('v') ? 'error' : ''}">
	        <label class="control-label"><a href="#" rel="tooltip" title="${_help}"><i class="icon-info-sign"></i></a>${v.label}</label>
	        <div class="controls">
	            <input type="text" name="chart.${v.nameInJavascript}" value="${v.value}" placeholder="Name(required)" class="${errors.forKey('v') ? 'has_error' : ''}">
	            <span class="help-block">${errors.forKey('v')}</span>
	        </div>
	    </div>
    #{/list}

	<div class="control-group">
	   <div class="controls">
	      #{if isLastPage}
    		  <input type="submit" name="submit" value="Create Chart" class="btn btn-primary" />
    	  #{/if}
    	  #{else}
    	      <input type="submit" name="submit" value="Next" class="btn btn-primary" />
    	  #{/else}
		  *{ <a href="javascript:history.back()" class="btn">Cancel</a> }*
		</div>
	</div>
#{/form}
