<!DOCTYPE html>

<!-- wbpreview.com/previews/WB0663265 -->

<html>
    <head>
        <title>Databus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQuery -->
        <script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>

    </head>
    
    <body style="margin: 0px">
        
        <div id="theChart"></div>
        
        ${info.htmlHeaders.raw()}

        <script type="text/javascript">
            ${chart.raw()}
        </script>
        
    </body>
</html>