<!DOCTYPE html>

<!-- wbpreview.com/previews/WB0663265 -->

<html>
    <head>
        <title>Databus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQuery -->
        <script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/public/includes/jquery.hotkeys.js"></script>

        <link href="/public/includes/prettify/sunburst.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/public/includes/prettify/prettify.js"></script>
        
        <!-- Bootstrap -->
        <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="/public/bootstrap/js/bootstrap.js"></script>

        <!-- Theme -->
        <link href="/public/bootstrap/themes/proto2/proto2.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/public/bootstrap/themes/proto2/proto2.js"></script>

        <link href="/public/bootstrap/themes/proto2/help.css" rel="stylesheet" type="text/css">

        <link href="/public/stylesheets/guisearch/guisearch.css" rel="stylesheet" type="text/css">  

    </head>
    
    <body onload="prettyPrint()">
        
        <div id="theChart"></div>
        
        ${info.htmlHeaders.raw()}

        <script type="text/javascript">
            ${chart.raw()}
        </script>
        
    </body>
</html>