#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Your Chart' /}

#{if variables.url} 
We are rendering the chart for dataset url=<a href="${variables.url}" target="_blank">${variables.url}</a> below.  If your chart is
not displaying, click the url to see if there is any data!!
#{/if}

<a href="@{chartVariables(chartId, 0, encoded)}" class="btn btn-primary">Modify Chart</a>
<a href="@{largeChart(chartId, encoded)}" class="btn btn-primary">Large Chart Only</a>
<a href="@{smallChart(chartId, encoded)}" class="btn btn-primary">Small Chart Only</a>

<div id="theChart"></div>

    ${info.htmlHeaders.raw()}

    <script type="text/javascript">
        ${chart.raw()}
    </script>