#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Your Chart' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 26. You can send this url to any of your colleagues with access to the same data to see this chart<br/>
   Step 27. He or you can modify the chart by clicking the Modify Chart button as well<br/>
   Step 28. Next, click the button Add to Dashboard<br/>
</div>
%{
    }
}%

#{if variables.url} 
We are rendering the chart for dataset url=<a href="${variables.url}" target="_blank">${variables.url}</a> below.  If your chart is
not displaying, click the url to see if there is any data!!
#{/if}
<br/>
<a href="@{modifyChart(chartId, encoded)}" class="btn btn-primary">Modify Chart</a>
<a href="@{largeChart(chartId, encoded)}" class="btn btn-primary">Large Chart Only</a>
<a href="@{smallChart(chartId, encoded)}" class="btn btn-primary">Small Chart Only</a>
#{form @addChartToDashboard(chartId, encoded), id:'formAddChart', style:'display:inline'}
          <input type="submit" name="submit" value="Add to Dashboard" class="btn btn-primary" />
#{/form}
<br/>

<div id="theChart"></div>

    ${info.htmlHeaders.raw()}

    <script type="text/javascript">
        ${chart.raw()}
    </script>