#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Your Chart' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 26. You can send this url to any of your colleagues(if they have access to the data)<br/>
   Step 27. He or you can modify the chart by clicking the Modify Chart button as well<br/>
   Step 28. Next, click the button Add to Dashboard<br/>
</div>
%{
    }
}%

#{if variables.url} 
We are rendering the chart for dataset <a href="${variables.url}" target="_blank">Your DATA Link</a> below.  If your chart is
not displaying, click the <a href="${variables.url}" target="_blank">Your DATA Link</a> to see if there is any data!!
#{/if}
<br/>
<a href="@{modifyChart(encoded)}" class="btn btn-primary">Modify Chart</a>
<a href="@{gui.MyDataStreams.viewStream(encoded)}" class="btn btn-primary">Modify Input Data</a>
<a href="@{largeChart(encoded)}" class="btn btn-primary">Large Chart Only</a>
<a href="@{smallChart(encoded)}" class="btn btn-primary">Small Chart Only</a>
#{form @addChartToDashboard(encoded), id:'formAddChart', style:'display:inline'}
          <input type="submit" name="submit" value="Add to Dashboard" class="btn btn-primary" />
#{/form}
<br/>

<div id="theChart" style="height: 600px;">
    <iframe style="border: none;" width="100%" height="100%" src="${url.raw()}">
    </iframe>
</div>

        <script type="text/javascript">
        $(function () {
            $(window).resize(function () {
                var height = getHeight();
                console.log('fit new div container size, width='+$("#theChart").width()+' height='+height+' windowH='+$(window).height());
                $("#theChart").height(height);
            });
            
            function getHeight() {
                var height = $(window).height()-300;
                if(height < 300)
                    height = 300;
                return height;
            }
            
            var height = getHeight();
            console.log('111fit new div container size, width='+$("#theChart").width()+' height='+height+' windowH='+$(window).height());
            $("#theChart").height(height);
        });
        </script>

