#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Create Chart' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div id="demoBanner" class="alert alert-info alert-block">
   Step 15. The below pulldown contains all the charts in the databus/webapp/public/Charts directory and built-in charts<br/>
   Step 16. Community members(you and others) can add your own charts or pay to have a partner create a new chart<br/>
   Step 17. Creating charts is very easy and you can follow the <a href="http://buffalosw.com/wiki/developing-charts-using-3rd-party-api/">documentation on creating Charts</a><br/>
   Step 18. Pick the Basic Line Chart and click Next
</div>
%{
    }
}%

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Buying New Charts</h3>
    </div>
    <div class="modal-body">
        <p>
        If you want to buy new Charts, you can email <a href="mailto:support@buffalosw.com">support@buffalosw.com</a> or check out 
        <a target="_blank" href="http://en.openei.org/wiki/NREL_Energy_DataBus/Partners">The Energy Databus Partners Page</a>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

#{form @gui.MyChartsGeneric.postSelectedChart(), id:'editmonitor', class:'form-horizontal', style:'min-width:100px;max-width:1100px;margin: 0 auto'}

    <legend>Pick a Chart</legend>

    <input type="hidden" name="encoded" value="${encoded}"/>

    The pulldown shows all charts in your webapp/public/Charts directory. Copy and modify charts in that directory to create new charts.  Feed new charts
    back to the community or sell them in the marketplace.

    #{formfield 'chartId'}
    <div class="control-group ${errors.forKey('chartId') ? 'error' : ''}">
        <label class="control-label"><a href="#" rel="tooltip" title="${_help}"><i class="icon-info-sign"></i></a>Series 1</label>
        <div class="controls">
            #{select 'chartId', items:charts, valueProperty:'id', labelProperty:'name', value:chartId, id:'chartSelect'/}
            <span class="help-block">${errors.forKey('chartId')}</span>
        </div>
    </div>
    #{/formfield}

	<script type="text/javascript">
    var current = null;
    $(document).ready(function() {
    	$("#chartSelect").change(function(e){
    		var id = $("#chartSelect").val();
    		if("Advertisement-js" == id) {
    			$("#chartSelect").val('BasicChart-js');		
    			
    			$("#myModal").modal('show') 
    		}
        });
    });
    </script>

	<div class="control-group">
	   <div class="controls">
		  <input type="submit" name="submit" value="Next" class="btn btn-primary" />
		  *{ <a href="javascript:history.back()" class="btn">Cancel</a> }*
		</div>
	</div>
#{/form}
