#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Create Chart' /}

#{form @postSelectedChart(), id:'editmonitor', class:'form-horizontal', style:'min-width:100px;max-width:1100px;margin: 0 auto'}

    <legend>Pick a Chart</legend>

    The pulldown shows all charts in your webapp/public/Charts directory. Copy and modify charts in that directory to create new charts.  Feed new charts
    back to the community or sell them in the marketplace.

    #{formfield 'chartId'}
    <div class="control-group ${errors.forKey('chartId') ? 'error' : ''}">
        <label class="control-label"><a href="#" rel="tooltip" title="${_help}"><i class="icon-info-sign"></i></a>Series 1</label>
        <div class="controls">
            #{select 'chartId', items:charts, valueProperty:'id', labelProperty:'name', value:id/}
            <span class="help-block">${errors.forKey('chartId')}</span>
        </div>
    </div>
    #{/formfield}

	<div class="control-group">
	   <div class="controls">
		  <input type="submit" name="submit" value="Next" class="btn btn-primary" />
		  *{ <a href="javascript:history.back()" class="btn">Cancel</a> }*
		</div>
	</div>
#{/form}
