#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Create Chart' /}

#{form @postStep1(), id:'editmonitor', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}

    <legend>Create Chart Step 1 of 2</legend>

    <input type="hidden" name="chart.timeColumn" value="${chart?.timeColumn}">
    <input type="hidden" name="chart.column1" value="${chart?.column1}">
    <input type="hidden" name="chart.column2" value="${chart?.column2}">
    <input type="hidden" name="chart.column3" value="${chart?.column3}">
    <input type="hidden" name="chart.column4" value="${chart?.column4}">
    <input type="hidden" name="chart.column5" value="${chart?.column5}">
    <input type="hidden" name="chart.startTime" value="${chart?.startTime}">
    <input type="hidden" name="chart.endTime" value="${chart?.endTime}">

    #{text2 id:'chart.url',       label:'Url',         help:'The url which streams back a wide table with more than one column'/}
	#{text2 id:'chart.axis1.name',  label:'Y-Axis 1 Name',  help:'The first Y-axis in the chart(maybe the only one)'/}
    #{text2 id:'chart.axis1.units', label:'Y-Axis 1 Units', help:'The units of the first Y-axis in the chart'/}
    #{text2 id:'chart.axis2.name',  label:'Y-Axis 2 Name',  help:'The second Y-axis in the chart'/}
    #{text2 id:'chart.axis2.units', label:'Y-Axis 2 Units', help:'The units of the second Y-axis in the chart'/}
    #{text2 id:'chart.axis3.name',  label:'Y-Axis 3 Name',  help:'The third Y-axis in the chart'/}
    #{text2 id:'chart.axis3.units', label:'Y-Axis 3 Units', help:'The units of the third Y-axis in the chart'/}

	<div class="control-group">
	   <div class="controls">
		  <input type="submit" name="submit" value="Next" class="btn btn-primary" />
		  *{ <a href="javascript:history.back()" class="btn">Cancel</a> }*
		</div>
	</div>
#{/form}
