#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Create Chart' /}

#{form @postStep2(), id:'editmonitor', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}

    <legend>Create Chart Step 2 of 2</legend>

	<input type="hidden" name="chart.url" value="${chart?.url}">
	<input type="hidden" name="chart.axis1.name" value="${chart?.axis1.name}">
	<input type="hidden" name="chart.axis1.units" value="${chart?.axis1.units}">
    <input type="hidden" name="chart.axis2.name" value="${chart?.axis2.name}">
    <input type="hidden" name="chart.axis2.units" value="${chart?.axis2.units}">
    <input type="hidden" name="chart.axis3.name" value="${chart?.axis3.name}">
    <input type="hidden" name="chart.axis3.units" value="${chart?.axis3.units}">
    <input type="hidden" name="chart.startTime" value="${chart?.startTime}">
    <input type="hidden" name="chart.endTime" value="${chart?.endTime}">
    
	#{text2 id:'chart.timeColumn',label:'Time Column', help:'The name of the column containing the time'/}
    #{text2 id:'chart.column1',   label:'Column 1',    help:'The name of the first column we will draw with respect to time'/}
    #{text2 id:'chart.column2',   label:'Column 2', help:'The name of the first column we will draw with respect to time'/}
    #{text2 id:'chart.column3',   label:'Column 3', help:'The name of the first column we will draw with respect to time'/}
    #{text2 id:'chart.column4',   label:'Column 4', help:'The name of the first column we will draw with respect to time'/}
    #{text2 id:'chart.column5',   label:'Column 5', help:'The name of the first column we will draw with respect to time'/}
    
	<div class="control-group">
	   <div class="controls">
		  <input type="submit" name="submit" value="Create Chart" class="btn btn-primary" />
		  *{ <a href="javascript:history.back()" class="btn">Cancel</a> }*
		</div>
	</div>
#{/form}
