#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Create Chart' /}

This is the main create Chart page

*{
#{form @postMonitor(schemaDbo.schemaName), id:'editmonitor', class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}

    <legend>Create Chart</legend>

	<input type="hidden" name="monitor.id" value="${monitor?.id}">

	#{xfield objectId:'chart.url1',label:'Url 1', help:'The first line we will draw'}
		#{text field:field/}
	#{/xfield}
    #{xfield objectId:'chart.url2',label:'Url 1', help:'The second line we will draw'}
        #{text field:field/}
    #{/xfield}
    #{xfield objectId:'chart.url3',label:'Url 1', help:'The third line we will draw'}
        #{text field:field/}
    #{/xfield}
    #{xfield objectId:'chart.url4',label:'Url 1', help:'The fourth line we will draw'}
        #{text field:field/}
    #{/xfield}
    #{xfield objectId:'chart.url5',label:'Url 1', help:'The fifth line we will draw'}
        #{text field:field/}
    #{/xfield}

	<div class="control-group">
	   <div class="controls">
		  <input type="submit" name="submit" value="Save" class="btn btn-primary" />
		  <a href="javascript:history.back()" class="btn">Cancel</a>
		</div>
	</div>
#{/form}
}*
