#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Your Chart' /}

We are rendering the chart for <a href="${url}" target="_blank">YOUR DATA</a> below

<a href="@{modifyRedirect(encoded)}" class="btn btn-primary">Modify Chart</a>
<a href="@{drawJustChart(encoded)}" class="btn btn-primary">Chart Only</a>
#{form @addChartToDashboard(encoded), id:'formAddChart'}
     <div class="control-group">
       <div class="controls">
          <input type="submit" name="submit" value="Add to Dashboard" class="btn btn-primary" />
        </div>
    </div>
#{/form}

<div id="theChart"></div>

#{chart chart:chart,url:url,topMargin:0,height:height/}