#{extends './homeTemplate.html' /}
#{set tab:'home' /}
#{set title:'Your Chart' /}

%{
   if(gov.nrel.util.Utility.isDemoMode()) {
}%
<div class="alert alert-info alert-block">
   Step 10. Notice you can give the url to your colleagues and it will draw the same chart if they have access to this dataset<br/>
   Step 11. Notice the url just below this blue banner?  If you want to view the raw data, you can click the link(THEN close that window to come back to this one)<br/>
   Step 12. Scroll down to see some of the zoom window of the chart so you can zoom in on the data
   Step 13. Click on Meta Search
</div>
%{
    }
}%

We are rendering the chart for dataset url=<a href="${chart.url}" target="_blank">${chart.url}</a> below

<a href="@{modifyChart(chartId, encoded)}" class="btn btn-primary">Modify Chart</a>
<a href="@{drawJustChart(chartId, encoded)}" class="btn btn-primary">Chart Only</a>
#{form @addChartToDashboard(chartId, encoded), id:'formAddChart'}
     <div class="control-group">
       <div class="controls">
          <input type="submit" name="submit" value="Add to Dashboard" class="btn btn-primary" />
        </div>
    </div>
#{/form}

<div id="theChart"></div>

#{chart chart:chart,topMargin:0,height:height/}