<!DOCTYPE html>

<!-- wbpreview.com/previews/WB0663265 -->

<html>
    <head>
        <title>Databus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />

        <!-- JQuery -->
        <script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/public/includes/jquery.hotkeys.js"></script>

        <link href="/public/includes/prettify/sunburst.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/public/includes/prettify/prettify.js"></script>
        
        <!-- Bootstrap -->
        <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="/public/bootstrap/js/bootstrap.js"></script>

        <!-- Theme -->
        <link href="/public/bootstrap/themes/proto2/proto2.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/public/bootstrap/themes/proto2/proto2.js"></script>

        <link href="/public/bootstrap/themes/proto2/help.css" rel="stylesheet" type="text/css">

        <!-- JQPlot -->
        <!-- <link rel="stylesheet" type="text/css" href="/public/includes/jqplot/jquery.jqplot.min.css" /> -->
        
        <!-- Ajax Solr -->
        <!--<script type="text/javascript" src="/public/includes/ajax_solr/core/Core.js"></script>      
        <script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractManager.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/managers/Manager.jquery.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/core/Parameter.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/core/ParameterStore.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractWidget.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/helpers/jquery/ajaxsolr.theme.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/widgets/jquery/PagerWidget.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractFacetWidget.js"></script>
        <script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractTextWidget.js"></script>
        <script type="text/javascript" src="/public/javascripts/jquery.livequery.js"></script>-->

        <!-- GUISearch -->
        <link href="/public/stylesheets/guisearch/guisearch.css" rel="stylesheet" type="text/css">  
        <!--<script type="text/javascript" src="/public/javascripts/guisearch/guisearch.js"></script>       
        <script type="text/javascript" src="/public/javascripts/guisearch/searchwidget.js"></script>        
        <script type="text/javascript" src="/public/javascripts/guisearch/searchtheme.js"></script>
        <script type="text/javascript" src="/public/javascripts/guisearch/searchtagcloud.js"></script>
        <script type="text/javascript" src="/public/javascripts/guisearch/searchcurrentfilter.js"></script>
        <script type="text/javascript" src="/public/javascripts/guisearch/searchinput.js"></script>
        <script type="text/javascript" src="/public/javascripts/guisearch/searchpager.js"></script>-->
    </head>
    
    <body onload="prettyPrint()">
            %{
               if(gov.nrel.util.Utility.isDemoMode()) {
            }%
             <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
              ga('create', 'UA-43251428-1', 'nrel.gov');
              ga('send', 'pageview');
            
            </script>
            %{
                }
            }%
    
        #{doLayout /}
        
		<script type="text/javascript">
			$(function () {
			    //$("[rel='tooltip']").tooltip();
			});
            
			// Add global variable for which mode we're running.  This is important
			// for callbacks to the server (such as our solr calls).  Prod requires
			// all calls back to the server to be HTTPS whereas dev and qa only
			// do HTTP
			%{
			   mode = play.Play.configuration.getProperty("application.mode");
			   demomode = play.Play.configuration.getProperty("demo.mode");
			   
			   protocol = "http";
			   if("prod".equals(mode) && !"true".equals(demomode)) {
			   	protocol = "https";
			   }
			}%
			var _mode = '${mode}';
			var _demomode = '${demomode}';
			var _solrProtocol = '${protocol}';
        </script>

    </body>
  
</html>







