
.fancyTable th {
	/* appearance */
	border: 1px solid #778899;
	
	/* size */
	padding: 2px;
}

.fancyTable td {
	/* appearance */
	border: 1px solid #778899;
	
	/* size */
	padding: 2px;
}

.fancyTable a {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

.fancyTable {
	/* text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyTable tbody tr td {
	/* appearance */
	background-color: #B1D2BC;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 25%,
		rgba(255,255,255,0.1) 65%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(25%,rgba(255,255,255,0.2)),
		color-stop(65%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #262c31;
	font-size: 11px;
	}

.fancyTable tbody tr.admin_even td {
	/* appearance */
	background-color: #5CA173;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable tbody tr.admin_odd td {
	/* appearance */
	background-color: #B1D2BC;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}
	
.fancyTable tbody tr.readwrite_even td {
	/* appearance */
	background-color: #E2CC71;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable tbody tr.readwrite_odd td {
	/* appearance */
	background-color: #CCA300;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}
	
.fancyTable tbody tr.readonly_even td {
	/* appearance */
	background-color: #FFA76C;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable tbody tr.readonly_odd td {
	/* appearance */
	background-color: #FF7519;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}
	
.fancyTable tbody tr.system_even td {
	/* appearance */
	background-color: #E57D7D;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.fancyTable tbody tr.system_odd td {
	/* appearance */
	background-color: #D63333;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 33%,
		rgba(255,255,255,0.1) 66%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(33%,rgba(255,255,255,0.2)),
		color-stop(66%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
	}

.databaseTable thead tr th,
.databaseTable thead tr td,
.databaseTable tfoot tr th, 
.databaseTable tfoot tr td {
	/* appearance */
	background-color: #007ac2;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 15%,
		rgba(255,255,255,0.1) 30%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(15%,rgba(255,255,255,0.2)),
		color-stop(30%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	/*text-shadow: 0 1px 1px #e8ebee;*/
	}
	
.groupTable thead tr th,
.groupTable thead tr td,
.groupTable tfoot tr th, 
.groupTable tfoot tr td {
	/* appearance */
	background-color: #993366;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 15%,
		rgba(255,255,255,0.1) 30%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(15%,rgba(255,255,255,0.2)),
		color-stop(30%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	/*text-shadow: 0 1px 1px #e8ebee;*/
	}
	

/* Fancy Dark Table */	
.fancyDarkTable .numeric {
	/* text */
	text-align: right;
	}

.fancyDarkTable td, .fancyDarkTable th {
	border: 1px solid #000000;
	padding: 2px 10px 0px 10px;
}

.fancyDarkTable thead tr th {
	padding: 8px 15px 8px 15px;
	}

.fancyDarkTable {
	/*border-collapse: separate;*/
	
	/* text */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

.fancyDarkTable tbody tr td {
	/* appearance */
	background-color: #48535e;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-bottom-color: #22272e;
	border-top-color: #708090;
	border-right-color: #000;
	border-left-color: #3c454f;

	/* size */
	/*padding: 5px 2px 10px 2px;*/

	/* text */
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000000;
	}

.fancyDarkTable tbody tr.odd td {
	/* appearance */
	background-color: #3c454f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.02) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.0)),
		color-stop(100%,rgba(255,255,255,0.02)));
	border-right-color: #000;
	}

.fancyDarkTable thead tr th,
.fancyDarkTable tfoot tr td {
	/* appearance */
	background-color: #001429;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 20%,
		rgba(255,255,255,0.2) 40%,
		rgba(255,255,255,0.1) 60%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(20%,rgba(255,255,255,0.4)),
		color-stop(40%,rgba(255,255,255,0.2)),
		color-stop(60%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
		
	/* text */
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000;
	}
	
.fancyDarkTable .fht-head {
	-webkit-box-shadow: 0 5px 10px #000;
	z-index: 1;
	position: relative;
	}
	
.db_chart_list_td_contents a {
	font-size: 13px; 
	font-weight: 800; 
	text-decoration: none;
	color: #91CFFF;
}

.fancyDarkTable tr:hover td {
	background-color: #7A7B7C;
	cursor: pointer;
}

.fancyDarkTable tr.odd:hover td {
	background-color: #7A7B7C;
	cursor: pointer;
}

.db_chart_list_td_contents a:hover {
	text-decoration: none;
	color: #14B8F8;
	cursor: pointer;
}