#{extends '_index.html' /}
#{set title:'Search' /}
#{set tab:'search' /}

<!-- https://github.com/evolvingweb/ajax-solr -->
<!-- http://demo.projectblacklight.org/ -->
<!-- http://searchhub.org/2010/01/14/solr-search-user-interface-examples/ -->
<!-- http://dartmouth.summon.serialssolutions.com/search?s.q=book -->

<!-- DEBUG -->
<!-- ======================================================================= -->
 <!-- <head>  -->
<!-- ======================================================================= -->
<!-- DEBUG -->

<!-- Framework variables saved in global scope for JavaScript libraries -->
<script>
	var _detailURL = '@{gui.GUISearch.detailSearch()}';
</script>
<!-- ======================================================================= -->

<!-- JQuery -->
<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery.livequery.js"></script>

<!-- Ajax Solr -->
<script type="text/javascript" src="/public/includes/ajax_solr/core/Core.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractManager.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/managers/Manager.jquery.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/core/Parameter.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/core/ParameterStore.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractWidget.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/helpers/jquery/ajaxsolr.theme.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/widgets/jquery/PagerWidget.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractFacetWidget.js"></script>
<script type="text/javascript" src="/public/includes/ajax_solr/core/AbstractTextWidget.js"></script>

<!-- GUISearch -->
<script type="text/javascript" src="/public/javascripts/guisearch/meta/guiMetaSearch.js"></script>		
<script type="text/javascript" src="/public/javascripts/guisearch/meta/metasearchwidget.js"></script>		
<script type="text/javascript" src="/public/javascripts/guisearch/meta/metasearchtheme.js"></script>
<script type="text/javascript" src="/public/javascripts/guisearch/meta/metasearchtagcloud.js"></script>
<script type="text/javascript" src="/public/javascripts/guisearch/searchcurrentfilter.js"></script>
<script type="text/javascript" src="/public/javascripts/guisearch/searchinput.js"></script>
<script type="text/javascript" src="/public/javascripts/guisearch/meta/metasearchpager.js"></script>

<!-- ICON library -->
<!--  http://tango.freedesktop.org/Tango_Icon_Library -->


<!-- DEBUG -->
<!-- ======================================================================= -->
		<!-- JQuery -->
		 <!-- <script type="text/javascript" src="/public/javascripts/jquery-1.9.1.min.js"></script>  -->
		 <!-- <script type="text/javascript" src="/public/includes/jquery.hotkeys.js"></script>  -->

		<!-- Bootstrap -->
		 <!-- <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">  -->
		 <!-- <script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>  -->
		
		<!-- Theme -->
		 <!-- <link href="/public/bootstrap/themes/proto2/proto2.css" rel="stylesheet" type="text/css">  -->
		 <!-- <script type="text/javascript" src="/public/bootstrap/themes/proto2/proto2.js"></script>  -->

		<!-- GUISearch -->
 		<!-- <link href="/public/stylesheets/guisearch/guisearch.css" rel="stylesheet" type="text/css">  -->
 <!-- </head>  -->
 <!-- <body>  -->
<!-- ======================================================================= -->
<!-- DEBUG -->

<div id="main_search_div">
	<div class="search_left">		
		<h2 class="search_nav_title"><i class="icon-search" style="margin: 2px 0px 0px 0px;"></i> Meta Search</h2>
		<ul id="meta_search" style="margin-left: 20px; margin-bottom: 0px !important; padding-bottom: 0px !important;">
			<input type="text" id="meta_search_field" name="query" class="search_input">
		</ul>
		
		<h2 class="search_nav_title"><i class="icon-list" style="margin: 2px 0px 0px 0px;"></i> Current Filter</h2>
		<ul id="selection" style="list-style: circle;"></ul>
		
		<p class="nav_divider" style="margin-bottom: 0px !important; padding-bottom: 0px !important;"></p>
	
		<div class="search_nav_facet">
			<div class="search_nav_group" style="padding-bottom: 10px;">
				<div class="accordion-heading">
					<p class="accordion-toggle search_nav_title" style="cursor: auto !important;">
						<i class="icon-tasks" style="margin: 2px 0px 0px 0px;"></i> Types
					</p>
				</div>
				<div class="accordion-body">
					<div class="accordion=inner">
						<div id="type"></div>
					</div>
				</div>
			</div>
			
			<div class="accordion" id="accordion_column_texts">
				<div class="accordion-group search_nav_group">
					<div class="accordion-heading">
						<a id="table_toggle" class="accordion-toggle search_nav_title" data-toggle="collapse" data-parent="#accordion_column_texts" href="#collapse_column_texts">
							<!-- <i id="table_icon" class="icon-pause" style="margin: 2px 2px 0px 0px;"></i> -->Table Columns &nbsp;&nbsp;
							<i id="table_icon" class="icon-chevron-right" style="margin: 3px 10px 0px 0px;"></i>
							<span id="column_count_total" class="badge facet_count_total"></span>
						</a>
					</div>
					<div id="collapse_column_texts" class="accordion-body collapse">
						<div class="accordion=inner">
							<div id="column_texts"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="accordion" id="accordion_database_texts">
				<div class="accordion-group search_nav_group">
					<div class="accordion-heading">
						<a id="database_toggle" class="accordion-toggle search_nav_title" data-toggle="collapse" data-parent="#accordion_database_texts" href="#collapse_database_texts">
							<!-- <img src="/public/images/icons/x16/database_1_16.png" style="margin: 3px 0px 0px 0px; vertical-align: top;"> -->Databases &nbsp;&nbsp;
							<i id="database_icon" class="icon-chevron-right" style="margin: 3px 10px 0px 0px;"></i>
							<span id="database_count_total" class="badge facet_count_total"></span>
						</a>
					</div>
					<div id="collapse_database_texts" class="accordion-body collapse">
						<div class="accordion=inner">
							<div id="database_texts"></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="accordion" id="accordion_creator_texts">
				<div class="accordion-group search_nav_group">
					<div class="accordion-heading">
						<a id="creator_toggle" class="accordion-toggle search_nav_title" data-toggle="collapse" data-parent="#accordion_creator_texts" href="#collapse_creator_texts">
							<!-- <img src="/public/images/icons/x16/user_16.png" style="margin: 3px 0px 0px 0px; vertical-align: top;"> -->Users &nbsp;&nbsp;
							<i id="creator_icon" class="icon-chevron-right" style="margin: 3px 10px 0px 0px;"></i>
							<span id="user_count_total" class="badge facet_count_total"></span>
						</a>
					</div>
					<div id="collapse_creator_texts" class="accordion-body collapse">
						<div class="accordion=inner">
							<div id="creator_texts"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="search_right">
		<div id="navigation" class="pager_top_nav pagination">
			<div id="pager_top_header"></div>
			<ul id="pager_top"></ul>
			<div id="pager_top_footer"></div>
		</div>
		<div id="result" class="result">
			<div id="docs"></div>
		</div>
		<div id="navigation" class="pager_bottom_nav pagination">
			<div id="pager_bottom_header"></div>
			<ul id="pager_bottom"></ul>
			<div id="pager_bottom_footer"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){				
		$('#table_toggle').click(function() {
			if($('#table_icon').hasClass("icon-chevron-down")) {
				$('#table_icon').removeClass("icon-chevron-down");
				$('#table_icon').attr('class', 'icon-chevron-right');
			} else {
				$('#table_icon').removeClass("icon-chevron-right");
				$('#table_icon').attr('class', 'icon-chevron-down');
			}
		});
		
		$('#database_toggle').click(function() {
			if($('#database_icon').hasClass("icon-chevron-down")) {
				$('#database_icon').removeClass("icon-chevron-down");
				$('#database_icon').attr('class', 'icon-chevron-right');
			} else {
				$('#database_icon').removeClass("icon-chevron-right");
				$('#database_icon').attr('class', 'icon-chevron-down');
			}
		});
		
		$('#creator_toggle').click(function() {
			if($('#creator_icon').hasClass("icon-chevron-down")) {
				$('#creator_icon').removeClass("icon-chevron-down");
				$('#creator_icon').attr('class', 'icon-chevron-right');
			} else {
				$('#creator_icon').removeClass("icon-chevron-right");
				$('#creator_icon').attr('class', 'icon-chevron-down');
			}
		});
		
	});
</script>

<!-- DEBUG -->
<!--  </body>  -->
<!-- DEBUG -->