#{extends './dashTemplate.html' /}
#{set title:'Dashboard' /}
#{set subtab:'dashboard' /}


	       #{if user.settings.dashboardChartCount == 1}
    			#{dashboardCharts/chartsingle url:user.getChartUrl(0).raw()/}
    		#{/if}
    		#{elseif user.settings.dashboardChartCount == 2}
    			#{dashboardCharts/chartsdual user:user/}
    		#{/elseif}
    		#{elseif user.settings.dashboardChartCount == 3}
		    	#{dashboardCharts/chartsthree user:user/}
		    #{/elseif}
		    #{else}
		    	#{dashboardCharts/chartsfour user:user/}
		    #{/else}

